<?php
// @codingStandardsIgnoreFile

/** @var \Vnecoms\PageBuilder\Block\Section\DefaultSection $block */
?>

<section class="pb-section pb-section-feature1" id="<?php echo $block->getNameInLayout()?>">
    <div class="pb-section-title">
    	<?php echo $this->getChildHtml('title')?>
    	<?php echo $this->getChildHtml('subtitle')?>
	</div>
	<?php echo $this->getChildHtml('description')?>
	<?php echo $this->getChildHtml('feature_list')?>
</section>