<div class="pb-feature-container">
    <div class="pb-feature-box-icon">
        <?php echo($block->getFieldHtml('icon'));?>
    </div>
    <?php echo($block->getFieldHtml('title'));?>
    <div class="pb-feature-description">
        <?php echo($block->getFieldHtml('description'));?>
    </div>
</div>