.modal-popup.quick-view{

    &._show{
        pointer-events: auto !important;
    }
    &._show .modal-inner-wrap{
        pointer-events: all;

        @media (max-width: $screen-xs-min - 1) {
            margin: 3vh auto;
            width: 94vw;
        }
    }

    .smart-labels{
        display: none;
    }

    .modal-footer{
        padding-top: 0;

        .close{
            @include button-block;
            @include button-block__primary;
        }
    }

    .product.info.detailed{
        @media(min-width: $screen-md-min){
            margin-bottom: 0;
        }
    }
}