/*
* TM_Newsletter-popup
*/

// Main Styles

.newsletter-popup.modal-popup {

    // Modal
    .modal-inner-wrap {
        margin-top: 7%;
        padding: 0;
        margin-right: 20px;
        margin-left: 20px;
        background: $primary;

        @media screen and (max-width: $screen-sm-min - 1) {
            width: auto !important;
        }
        @media (min-width: $screen-sm-min){
            margin-top: 12%;
            margin-right: auto;
            margin-left: auto;
        }
    }

    .actions {
        display: none;
    }

    // Header
    header.modal-header {
        padding: 60px 30px 40px;
        background: url("../images/media/nlpp.png") no-repeat center center #f1c152;
        background-size:cover;
        text-align: center;


        .action-close {
            padding: 0;
            top: 0;
            right: 0;
            width: 43px;
            height: 43px;
            text-align: center;
            border-radius: 50%;
            background: $primary;
            &:before {
                display: block;
                font-size: 24px;
                line-height: 43px;
                transition: $default-transition;
                color: $white;
            }
            &:hover:before {
                color: $black;
            }
            @media (min-width: $screen-sm-min){
                top: -50px;
                right: -50px;
            }

        }

        h1.modal-title {
            font-size: 21px;
            line-height: 1;
            font-weight: 400;
            border-bottom: none;
            padding: 0;
            margin-bottom: 0;
            color: $black;
            text-transform: uppercase;

            @media (min-width: $screen-sm-min){
                line-height: inherit;
            }
        }
        .content-text{
            padding-bottom: 5px;
            margin-top: 23px;
            > span {
                display: block;
                color: $black;
                text-transform: uppercase;
                line-height: 1;
                &.size-1 {
                    font-size: 18px;
                    font-weight: 300;
                    @media (min-width: $screen-sm-min){
                        font-size: 24px;
                    }
                }
                &.size-2 {
                    display: inline-block;
                    .banner-label {
                        margin-top: -10px;
                        font-size: 129px;
                        line-height: 1;
                        letter-spacing: -0.025em;
                        text-transform: uppercase;
                        z-index: 99;
                        font-weight: 600;
                        color: $primary;
                        @media (min-width: $screen-lg-min){
                            font-size: 175px;
                        }

                        i {
                            float: right;
                            text-align: left;
                            font-size: 84px;
                            letter-spacing: 0;
                            margin-top: 9px;
                            margin-left: 5px;
                            @media (min-width: $screen-lg-min){
                                font-size: 125px;
                                margin-top: 6px;
                            }
                            b {
                                display: block;
                                font-size: 31px;
                                margin-top: -10px;
                                @media (min-width: $screen-lg-min){
                                    font-size: 39px;
                                    margin-top: -15px;
                                }
                            }
                        }
                    }
                }
                &.size-3 {
                    font-size: 19px;
                    font-weight: 300;
                }
            }

            @media (min-width: $screen-sm-min){
                padding-bottom: 20px;
            }

            p{
                margin-bottom: 0;
            }
        }

    }

    // Content
    .modal-content {
        padding: 40px 40px 25px;
        margin-bottom: 15px;
        @include make-flex;
        @include justify-content(space-between);
        @include flex-wrap(wrap);
        position: relative;

        .newsletter-popup {
            order: 1;
            @include flex-basis(100%);
            @media (min-width: 460px){
                @include flex-basis(calc(100% - 165px));
            }
        }

        .block.newsletter {
            margin: 0;
            width: 100%;

            .field{
                padding: 0;

                input {
                    padding: 12px 18px 12px 40px;
                    background: $bg-light;;
                    border-color: transparent;
                    margin-bottom: 5px;
                }
                .control {
                    position: relative;
                    &:before {
                        @include font-icon__pseudo('\e697', $secondary-icon-family);
                        position: absolute;
                        height: 20px;
                        line-height: 20px;
                        font-size: 20px;
                        top: 0;
                        margin-top: 12px;
                        left: 15px;
                        color: $primary;
                    }
                    div.mage-error {
                        background: $white;
                        padding: 1px;
                        border-radius: 2px;
                        margin-top: 1px;
                        margin-bottom: 2px;
                    }
                }
            }
        }
    }

    // Footer
    footer.modal-footer {
        padding: 10px 0 0;

        @media (min-width: $screen-sm-min){
            padding-top: 25px;
        }

        .modal-social {
            background: $bg-dark;
            font-size: 1.75em;
            padding: 15px 30px 10px;

            a {
                display: inline-block;
                margin-bottom: 5px;
                padding: 7px 5px;
                transition: .2s;
                &:hover{
                    opacity: 0.7;
                }
            }

            :link,
            :hover{
                text-decoration: none;
            }
        }
    }

    // Buttons block
    .buttons-container {
        order: 2;
        @include flex-basis(100%);
        @media (min-width: 460px){
            @include flex-basis(158px);
        }

        @media (min-width: $screen-sm-min){
            padding-bottom: 25px;
        }

        button {
            @include button-block;
            padding: 13px 15px;
            box-shadow: none;

            @media (min-width: $screen-lg-min){
                padding: 13px 13px;
            }

            &.subscribe{
                color: $white;
                width: 100%;
                &:hover{
                    color: $black;
                    background: $primary;
                }
            }
            &:not(.subscribe) {
                @media (min-width: 460px){
                    position: absolute;
                }
                bottom: 0;
                left: 40px;
                background: none;
                padding: 0;
                margin: 10px 0 0 0;
                color: $white;
                text-transform: none;
                font-weight: 400;
                &:hover {
                    background-color: transparent !important;
                    text-decoration: underline;
                }
            }
        }
    }
}