/*
* @subsection   RD Navbar Toggles
*
* @description  Describes style declarations for RD Navbar navigation
*/

.rd-navbar-nav, .rd-navbar-toggle {
  display: none;
}

.rd-navbar-static {

  .rd-navbar-subpanel {
    display: table;
  }

  .rd-navbar-outer .rd-navbar-inner {
    position: relative;
  }

  .rd-navbar-dropdown,
  .rd-navbar-megamenu {
    @extend %rd-navbar-transition;
    position: absolute;
    background: $rd-navbar-submenu-bg;
    text-align: left;
    opacity: 0;
    visibility: hidden;
    border-top: 3px solid $primary;
    border-bottom: 3px solid $primary;
    @include transform(translateY(30px));
    box-shadow: 0 0 10px rgba(0,0,0,0.18);
    li > a {
      display: block;
    }
    li.focus > a,
    li.opened > a,
    a:hover {
      color: $primary;
    }
  }
  .rd-navbar-megamenu {
    li > a {
      margin-bottom: 15px;
    }
    .level1 > li > a {
      font-family: $extra-font-family;
      font-size: 20px;
      margin-bottom: 25px;
    }
  }


  .rd-navbar-dropdown {
    width: 270px;
    > li {
      a {
        padding:8px 15px;
      }
    }
    > li.focus > a,
    > li.opened > a,
    > li > a:hover {
      background: $theme-module-bg;
    }
  }

  .rd-navbar-megamenu {
    left: 0;
    right: 0;
    display: table;
    table-layout: fixed;
    width: 100%;
    padding: 16px 8px;

    > li {
      display: table-cell;
    }
  }

  .rd-navbar-nav {
    display: block;
    text-align: center;
    margin-top: -5px;

    li.rd-navbar--has-dropdown {
      position: relative;
    }

    li.focus,
    li.opened {
      > .rd-navbar-dropdown,
      > .rd-navbar-megamenu {
        opacity: 1;
        visibility: visible;
        @include transform(translateY(0));
      }
    }

    > li {
      display: inline-block;
      margin-right: 45px;

      > .rd-navbar-dropdown,
      > .rd-navbar-megamenu {
        top: 26px;
        z-index: 1;
      }

      > .rd-navbar-dropdown {
        left: 0;
        .rd-navbar-dropdown {
          left: 101%;
          top: -3px;
          z-index: 2;
        }
      }

      > a {
        display: block;
        font-weight: bold;
        text-transform: uppercase;
        color: $rd-navbar-default-color;
        letter-spacing: 2px;
        position: relative;
        &:after {
          content: "";
          position: absolute;
          width: 0;
          height: 3px;
          background: $primary;
          bottom: -10px;
          left: 50%;
        }

      }

      &.active > a,
      &.opened > a,
      &.focus > a,
      > a:hover {
        color: $rd-navbar-hover-color;
        &:after {
          width: 100%;
          left: 0;
        }
      }
    }
  }
}

.rd-navbar-fixed {
  .navigation li.level-top .megamenu-wrapper,
  .navigation a.level-top .megamenu-wrapper {
    padding: 10px;
    margin-bottom: 10px;
  }
  .navigation .col-sm-3 {
    border: 0;
  }
  .rd-navbar-toggle {
    display: block;
    @include toggle-lines-to-arrow(48px, 24px, $rd-navbar-contrast-color);
  }

  .rd-navbar-nav-wrap {
    @extend %rd-navbar-transition;
    position: fixed;
    top: -56px;
    left: 0;
    width: 280px;
    padding: 112px 0 56px;
    bottom: -56px;
    color: $rd-navbar-default-color;
    background: $rd-navbar-accent-color;
    box-shadow: $rd-navbar-shadow-medium;
    z-index: 15;
    @include transform(translateX(-105%));

    &.active {
      @include transform(translateX(0));
    }
  }

  .rd-navbar-nav {
    display: block;
    height: 100%;
    overflow: auto;
    font-size: 16px;
    line-height: 26px;
    text-align: left;

    &:before, &:after {
      content: '';
      display: block;
      height: 8px;
    }

    li {
      text-transform: uppercase;
      > a {
        display: block;
        padding: 5px 56px 5px 16px;
        color: $rd-navbar-contrast-color;
      }

      &.opened > a, a:hover {
        color: $rd-navbar-hover-color;
      }

      &.active {
        .rd-navbar-submenu-toggle {
        }
        > a {
          color: $rd-navbar-hover-color;
          font-weight: bold;
        }
      }
    }
  }

  .rd-navbar-dropdown,
  .rd-navbar-megamenu {
    display: none;
  }

  .rd-navbar-submenu {
    position: relative;
    @extend %rd-navbar-transition;

    li > a {
      padding-left: 32px;
    }

    .rd-navbar-dropdown li li > a,
    .rd-navbar-megamenu ul li li > a {
      padding-left: 48px;
    }

    &.opened {
      > .rd-navbar-dropdown,
      > .rd-navbar-megamenu {
        display: block;
      }
    }
  }

  .rd-navbar-submenu-toggle {
    @extend %rd-navbar-transition;
    position: absolute;
    right: 0;
    z-index: 999;
    top: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: $rd-navbar-contrast-color;
    cursor: pointer;
    @include font-icon('\e313');

    &:before {
      padding-top: 10px;
    }

    &:hover {
      color: $rd-navbar-contrast-color;
    }
  }
}

