/*
* @subsection   RD Navbar Toggles
*
* @description  Describes style declarations for RD Navbar panel
*/

$rd-navbar-panel-height: 56px;

.rd-navbar-static{
  .rd-navbar-panel{
    @include clearfix;
    padding: 0;
  }
}

.rd-navbar-fixed{
  .rd-navbar-panel-canvas{
    position: fixed;
    height: $rd-navbar-panel-height;
    left: 0;
    top: 0;
    width: 100%;
    background: $rd-navbar-accent-color;
    box-shadow: $rd-navbar-shadow-medium;
    z-index: 2;
  }

  .rd-navbar-toggle{
    position: fixed;
    z-index: 17;
    top: 4px;
    left: 4px;
  }
}

.rd-navbar-fixed-linked body{
  padding-top: $rd-navbar-panel-height;
}