/*
* @subsection   RD Navbar Toggles
*
* @description  Describes style declarations for RD Navbar navigation
*/

.rd-navbar-cart-floating{
  display: none;
}

.rd-navbar-cart-toggle {
  //@include toggle-icons-via-rotation(30px, 30px, $primary, '\e8cc', '\e5cd');
  &:hover {
    opacity: 0.8;
  }
  & span{
    &:before {
      font-family: $fl-line-icon;
      content: "\e061";
      font-size: 28px;
      line-height: 1;
      float: left;
      margin-top: -5px;
      padding-right: 12px;
      color: $primary;
    }
  }
}

.rd-navbar-cart{
  @extend %rd-navbar-transition;
  display: none;
  text-align: left;
  color: $rd-navbar-default-color;
  background: $content-bg-popup;
  box-shadow: $content-shadow-bg;
  .block-minicart{
    &.empty{
      height: auto;
    }
  }
  .page-title-top {
    margin-bottom: 15px;
    color: $primary;
    line-height: normal;
  }

  .block-title,
  button.close{
    display: none;
  }
  .subtitle {
    text-transform: uppercase;
    color: $secondary-1;
    padding-bottom: 25px;
    display: block;
    font-weight: bold;
    letter-spacing: 2px;
    &.empty {
      padding-bottom: 0;
    }

  }
  
  #minicart-content-wrapper{
    overflow: hidden;
    padding:30px;
  }
  .block-content{
    position: static;

    .items-total{
      font-size: 18px;
      color: $black;
    }

    .product-item{
      overflow: unset;
    }

    > .actions {
        position: relative;
        > div {
          margin-bottom: 5px;

          &:first-child {
            margin-right: 10px;
          }
        }

      .primary,
      .secondary{

        button,
        a {
          display: inline-block;
          text-align: center;
        }
      }
      .checkout {
        letter-spacing: 2px;
        font-weight: bold;
        padding: 15px 25px;
      }
      .viewcart {
        background: none;
        padding: 0;
        color: $primary;
        font-weight: normal;
        text-transform: capitalize;
        margin-top: 10px;
        text-decoration: underline;
        border: 0;
        letter-spacing: 1px;

        &:hover {
          text-decoration: none;
        }
      }
    }
    
  }

  .minicart-items-wrapper{
    .product-item-photo{
    }
    .product-item-details{

      .toggle{
        margin: 0;
      }
    }
    .product-item-name{
      font-weight: bold;
    }
    .product-item-pricing{}

  }

  &:before{
    content: '';
    position: absolute;
    height: 32px;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
  }

  &-items{
    overflow: auto;
    max-height: 100%;
    height: 100%;
    padding: 16px 0;

    &::-webkit-scrollbar{
      width: 4px;
    }

    &::-webkit-scrollbar-thumb{
      background: $rd-navbar-default-color;
    }
  }

  .rd-navbar-cart-item{
    &__preview{
      border-radius: 50%;
    }
  }

  .rd-navbar-cart-item{
    position: relative;
    padding: 8px 0;
    &__left, &__body, &__remove{
      position: relative;
      display: table-cell;
    }

    &__left{
      padding: 0 16px;
      img{
        max-width: none;
      }
    }

    &__body{
      vertical-align: middle;
      width: 100%;
    }

    &__title{
      font-size: 16px;
      line-height: 26px;
      color: $rd-navbar-contrast-color;
    }

    &__counter{
      font-size: 14px;
      line-height: 1.3;
    }

    &__remove{
      vertical-align: middle;
      width: 56px;
      font-size: 24px;
      padding: 0 16px;
    }

    &:after{
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      left: 88px;
      display: block;
      height: 1px;
      background: rgba($rd-navbar-default-color, .2);
    }
  }
}

.rd-navbar-static{
  .rd-navbar-cart-wrap{
    border-left: 1px solid $theme-line-1;
    float: right;
    padding-left: 15px;
    margin-left: 15px;
    @include clearfix;
    .loading-mask {
      display: none;
    }
  }

  .rd-navbar-cart-floating{
    display: block;
  }
  .rd-navbar-cart-toggle {
    position: relative;
  }
  .counter-number {
  }
  .text {
    font-size: $default-font-size;
    height: auto;
    width: auto;

    &:before {
      position: relative;
      font-size: 28px;
    }
  }
  strong {
    font-weight: 400;
    color: $default;
  }


  .rd-navbar-cart{
    display: block;
    position: absolute;
    width: 450px;
    top: 100%;
    right: 15px;
    visibility: hidden;
    opacity: 0;
    @include transform(translateY(30px));
    z-index: 4;
    @media (min-width: $screen-xl-min) {
      right:30px;
    }

    &.active{
      visibility: visible;
      opacity: 1;
      @include transform(translateY(0));
    }
  }

  #top-cart-btn-checkout{
    @extend %rd-navbar-transition;
    position: relative;
    display: block;
    text-align: center;

    &:before{
      font-weight: 400;
      font-size: 24px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 8px;
    }
  }
}

.rd-navbar-fixed{
  .rd-navbar-cart{
    position: fixed;
    top: -100%;
    right: 10px;
    z-index: 10;
    opacity: 0;
    display: none; 

    &.active{
      opacity: 1;
      top: 56px;
      display: block;
      max-height: calc(100% - 70px);
      overflow-x: auto;
      transform: translate(0px);
    }
    @media (max-width: $screen-sm-min) {
      width: auto;
      left: 10px;
      overflow: auto;
      #minicart-content-wrapper {
        padding: 15px;
      }
      .minicart-items {
        padding-right: 0;
      }
    }
    @media (max-width: 360px) {
      .minicart-items .item > .product {
        display: block;
      }
    }
  }

  .rd-navbar-cart-floating{
    display: block;
    @extend %rd-navbar-transition;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 20;
    color: #FFF;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: $rd-navbar-shadow-large, $rd-navbar-shadow-ambient;
    width: 56px;
    height: 56px;
    outline: 1px solid transparent;
    backface-visibility: hidden;

    &:before{
      @extend %rd-navbar-transition;
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 56px;
      height: 56px;
      border-radius: 50%;
      background: $rd-navbar-accent-color;
      @include transform(translate(-50%, -50%));
    }

    #top-cart-btn-checkout{
      @extend %rd-navbar-transition;
      position: relative;
      display: block;
      font-size: 16px;
      font-weight: 500;
      line-height: 56px;
      opacity: 0;
      visibility: hidden;

      &:before{
        font-weight: 400;
        font-size: 24px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 8px;
      }
    }

    .rd-navbar-cart-toggle {
      position: absolute;
      top: 50%;
      left: 50%;
      visibility: hidden;
      opacity: 0;
      @include transform(translate(-50%, -50%));
      span {
        height: 56px;
        line-height: 56px;
      }
    }

    &.active{
      right: 0;
      bottom: 0;
      border-radius: 0;
      width: 100%;

      &:before{
        @include transform(translate(-50%, -50%) scale(20));
        background: $rd-navbar-accent-color-2;
      }

      #top-cart-btn-checkout{
        opacity: 1;
        visibility: visible;
      }
    }
  }
  .rd-navbar-cart-fixed{
    display: block;
    @extend %rd-navbar-transition;
    position: fixed;
    top: 4px;
    right: 45px;
    z-index: 3;
    overflow: visible;
    width: 90px;
    height: 51px;
    outline: 1px solid transparent;
    backface-visibility: hidden;
    text-align: center;

    .rd-navbar-cart-toggle{
      //@include toggle-icons-via-rotation(44px, 22px, $rd-navbar-contrast-color, '\f07a', '\f00d');
      font-size: 16px;
      line-height: 46px;
      span:before,
      span:after{
        top:6px;
        float: none;
      }
      .loading-mask{
        visibility: hidden;
      }

      &, a{
        color: $rd-navbar-contrast-color;
      }

      .counter-label{
        display: none;
      }
    }
    .text {
      font-size: 0;
      &:before {
        line-height: 40px;
      }
    }
    .counter-number {
      font-weight: 400;
    }
  }
}