<div class="vpb-component-container" data-bind="
	visible: isActive,
	css:editable?(isMouseOver()?'vpb-component-editable hover':'vpb-component-editable'):''
">
	<table class="pdf-totals-tbl">
		<tbody>
			<tr>
				<td class="pdf-totals-label">Subtotal</td>
				<td class="pdf-totals-value">$9,175.94</td>
			</tr>
			<tr>
				<td class="pdf-totals-label">Tax</td>
				<td class="pdf-totals-value">$242.00</td>
			</tr>
			<tr>
				<td class="pdf-totals-label">Shipping &amp; Handling</td>
				<td class="pdf-totals-value">$10.00</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td class="pdf-totals-label">Grand Total:</td>
				<td class="pdf-totals-value">$9,427.94</td>
			</tr>
		</tfoot>
	</table>
	
	<div class="vpb-component-info" data-bind="text: id+':'+label"></div>
</div>