<!-- <div class="mp-footer">
    <span class="mp-footer-links-light">
        <h3> Powered by <a href="https://www.mageplaza.com/" target="_blank">Magento 2 Extensions by Mageplaza</a> </h3>
    </span>
</div> -->
<style type="text/css">
    .mp-footer{
        margin-top: 50px;
        font-size: 8px !important;
        display: block;
        clear: both;
        float: right;
        text-transform: inherit;
    }
    .mp-footer h3{
        margin-top: 50px;
        font-size: 8px !important;
        display: block;
        clear: both;
        float: right;
        text-transform: inherit;
    }
    .mp-footer-links-light{
        color: #E8E8E8 !important;
        margin: 0;
        padding: 0;
        border: 0;
        vertical-align: baseline;
    }
    .mp-footer-links-light a {
        color: #E8E8E8 !important;
    }
</style>