<?php
$helper = $this->helper('Mageplaza\Blog\Helper\Data');
$blogName = $helper->getBlogConfig('general/name') ?: __('Blog');
?>

<li class="level0 nav-8 last level-top ui-menu-item mpblog-top-link" role="presentation">
    <a href="<?php echo $helper->getBlogUrl('');?>" class="level-top ui-corner-all" id="ui-id-8" tabindex="-1" role="menuitem">
        <span class="act-underline"><?php echo $blogName;?></span>
    </a>
</li>
