
/*
* @subsection   Icons
*/

.big-circle-icon{
  display: block;
  width: 122px;
  height: 122px;
  margin: 0 auto 1rem;
  border-radius: 50%;
  border: 2px solid $primary;
  &:before{
    color: $primary;
    font-size: 66px;
    line-height: 122px;
    text-align: center;
    width: 100%;
  }
}

.medium-icon{
  margin: 0 auto 1rem;
  &:before{
    font-size: 60px;
    line-height: 1em;
    color: $primary;
  }
}

.small-icon{
  &:before{
    font-size: 40px;
    line-height: inherit;
    color: $primary;
  }
}