<?php
// @codingStandardsIgnoreFile

/**
 * @var $block Vnecoms\PdfPro\Block\Js
 */
?>
<?php
    $currentTemplate = '';
    if($template = $block->getCurrentTemplate())
    {
        $currentTemplate = $template->getSku();
    }
?>


<script>
    require([
        "jquery",
        "mage/adminhtml/events",
        "tinymce",
        "Vnecoms_PdfPro/js/popular"
    ], function (jQuery, _events, tinyMCE) {
        var config = {
            'vesDefaultLogoUrl': '<?php echo $block->getLogoUrl() ?>',
            'vesDefaultBarcode': '<?php echo $block->getBarCodeImageUrl() ?>',
            'currentTemplate': '<?php echo $currentTemplate ?>'
        };

        var RELATIVE_PATH = '/ves_pdfpro/logos/';

        varienGlobalEvents.attachEventHandler("tinymceBeforeSetContent", function(o){
          //  console.log('tinymceBeforeSetContent');
            /*encode*/
            var content = o.content;
           // console.log(config.vesDefaultLogoUrl);die();
            content = vesReplace(/{{var MY_LOGO}}/gi,"<img class=\"easypdf-logo\" src=\""+config.vesDefaultLogoUrl+"\" alt=\"\" />",content);
            content = vesReplace(/{{barcode (.*?)}}/gi,"<img class=\"easypdf-barcode\" src=\""+config.vesDefaultBarcode+"\" alt=\"$1\" />",content);
            //content = vesReplace(/{{var (.*?)}}/gi,"<span class=\"easypdf-var\">{{var $1}}</span>",content);
            o.content = content;
        });

        varienGlobalEvents.attachEventHandler("tinymceSaveContent", function(o){
             console.log('tinymceSaveContent');
            /*Decode*/
            var content = o.content;
            content = vesReplace(/<img class="easypdf-logo" src="(.*?)" alt="" \/>/gi,"{{var MY_LOGO}}",content);
            content = vesReplace(/<img class="easypdf-barcode" src="(.*?)" alt="(.*?)" \/>/gi,"{{barcode $2}}",content);
            // content = vesReplace(/<span class="easypdf-var">{{var (.*?)}}<\/span>/gi,"{{var $1}}",content);
            o.content = content;
        });

        varienGlobalEvents.attachEventHandler("tinymceExecCommand", function(l){
          //     console.log('tinymceExecCommand');
            tinyMCE.editors.each(function(vesEditor){
                if(!vesEditor.dom.hasClass(vesEditor.dom.select('body'),config.currentTemplate)){
                    vesEditor.dom.addClass(vesEditor.dom.select('body'), config.currentTemplate);
                }
            });
        });
    });
</script>