<div class="vpb-component-container" data-bind="
	visible: isActive,
	css:{[frontend_class]:true,'vpb-component-editable':editable, 'hover': isMouseOver()}
">
	<div data-bind="html: code, css: frontend_class"></div>
	<div class="vpb-component-info" data-bind="text: id+':'+label"></div>
</div>