<div class="vpb-component-container vpb-component-group" data-bind="
	visible: isActive,
	css:{[frontend_class]:true,'vpb-component-editable':editable, 'hover': isMouseOver()}
">
	<!-- ko foreach: getRegion('icon') -->
		<!-- ko template: getTemplate() --><!-- /ko -->
	<!--/ko-->
	<!-- ko foreach: getRegion('title') -->
		<!-- ko template: getTemplate() --><!-- /ko -->
	<!--/ko-->
	<!-- ko foreach: getRegion('description') -->
		<!-- ko template: getTemplate() --><!-- /ko -->
	<!--/ko-->

	<div class="vpb-component-info" data-bind="text: id+':'+label"></div>
</div>