<span class="vpb-component-container" data-bind="
	visible: isActive,
	css:{[frontend_class]:true,'vpb-component-editable':editable, 'hover': isMouseOver()}
">
	<i data-bind="css: getIconClasses(), style:{fontSize: fontSize()+'px'}"></i>
</span>