<span class="vpb-component-container" data-bind="
	visible: isActive,
	css:{[frontend_class]:true,'vpb-component-editable':editable, 'hover': isMouseOver()}
">
	<a data-bind="text: text, css: frontend_class, attr: {href: getHref()}, click: linkClick"></a>
	<span class="vpb-component-info" data-bind="text: id"></span>
</span>