<?php $columnsValue = [];?>
<table class="pdf-items-tbl">
	<thead> 
		<tr>
			<?php foreach($this->getFields() as $fieldId => $fieldData):?>
			     <?php $block->getChildHtml($fieldId);?>
				<th><?php  echo $block->getChildBlock($fieldId)->getFieldHtml('header_label');?></th>
			<?php endforeach?>
		</tr> 
	</thead>
	<tbody>
	   {{foreach shipment.getItems() as item}}
		<tr class="{{if1 (j % 2)}}even{{else1}}odd{{/if1}}">
			<?php foreach($this->getFields() as $fieldId => $fieldData):?>
				<td><?php echo $block->getChildHtml($fieldId);?></td>
			<?php endforeach ?>
		</tr>
		{{if item.is_bundle}}
	       {{foreach1 item.getSubItems() as bundle}}
				<tr class="{{if1 (j % 2)}}even{{else1}}odd{{/if1}}">
                  	<?php foreach($this->getFields() as $fieldId => $fieldData):?>
        				<td>
        				    <?php 
        				        $html = str_replace("item.","bundle.",$block->getChildHtml($fieldId));
        				        $html = preg_replace('/{{foreach1\s*(.*?)\s*as\s*(.*?)\s*}}(.*?){{\\/foreach1\s*}}/si', '', $html);
        				        $html = str_replace("{{var bundle.name}}", '<div style="margin-left:20px;"><strong>{{var bundle.label}}</strong><div class="product-options">{{var bundle.value}}</div></div>', $html);
        				        echo $html;
        				    ?>
        				</td>
        			<?php endforeach ?>
				</tr>
				{{inc j 1}}
			{{/foreach1}}
		{{/if}}
		{{inc j 1}}
		{{/foreach}}
	</tbody>
</table>