<div class="vpb-component-container vpb-component-list" data-bind="
	visible: isActive,
	css:{[frontend_class]:true,'vpb-component-editable':editable},
	attr: {id: getPreviewFieldId()}
">
	<!-- ko foreach: getItems() -->		
		<!-- ko template: getTemplate() --><!-- /ko -->
		
		<!-- ko if: ($index() %2)== 1 || $index()== ($parent.getItemsSize()-1)-->
		<div class="pb-feature-break-row"></div>
		<!-- /ko -->
	<!-- /ko -->
</div>
<!-- ko if: color() || hoverColor() -->
<style data-bind="text: getCustomStyle()"></style>
<!-- /ko -->