<div class="pb-feature-container">
    <?php echo($block->getFieldHtml('title'));?>
    <div class="pb-feature-description">
        <?php echo($block->getFieldHtml('description'));?>
    </div>
</div>