<?php

//work here

?>

<!-- For sidebar menu: add class "in-sidebar" to "tm-megamenu" div -->

<div class="tm-megamenu megamenu-wrapper submenu <?php echo $this->getAdditionalCssClass(); ?> rd-navbar-megamenu">
	<div class="container">
        <?php echo $this->renderRows(); ?>
    </div>
</div>