<?php 
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$request = $objectManager->get('Magento\Framework\App\Action\Context')->getRequest();
if ($request->getFullActionName() == 'cms_index_index') {?>
    <?php if ($block->getCollection()): ?>
        <div id="themecafe-landing-popup-modal" class="themecafe-landing-popup" style="display:none;">
            <?php print_r($block->getCollection()); ?>
        </div>
        <?php if (!$block->getCustomCookie()): ?>
            <script>
                require(
                        [
                            'jquery',
                            'Magento_Ui/js/modal/modal'
                        ],
                        function (
                                $,
                                modal
                                ) {
                            var options = {
                                type: 'popup',
                                responsive: true,
                                innerScroll: 'auto',
                                clickableOverlay: true
                            };
                            var popup = modal(options, $('#themecafe-landing-popup-modal'));
                            $('#themecafe-landing-popup-modal').modal('openModal');
                            $('.themecafe-landing-popup').parent('div').parent('div').addClass('themecafe-landing-popup-wrapper');
                            $('.themecafe-landing-popup').parent('div').parent('div').parent('.modal-popup').parent('div').addClass('themecafe-landing-popup-aside');

                            var screenHeight = $(window).height();
                            var popupHeight = $('.themecafe-landing-popup').height();
                            var maxHeight = screenHeight - screenHeight / 100 * 15;
                            var margintop;
                            if (popupHeight < screenHeight) {
                                margintop = (screenHeight - popupHeight) / 2;
                            }
                            var mq = window.matchMedia("(min-width: 769px)");
                            if (mq.matches) {
                                $('.themecafe-landing-popup-wrapper').css({
                                    'overflow-y': 'auto',
                                    'position': 'relative',
                                    'display': 'table',
                                    'width': 'auto',
                                    'max-width': '80%',
                                    'margin-top': margintop
                                });
                                $('#themecafe-landing-popup-modal').css({
                                    'max-height': maxHeight + 'px'
                                });
                            }  
                            var is_safari = navigator.userAgent.indexOf("Safari") > -1;
                            if(is_safari){
                                $('.themecafe-landing-popup-wrapper .action-close').click(function(){
                                    $('.themecafe-landing-popup-aside').css({'display':'none'});
                                    $("body").removeClass("_has-modal");
                                });
                            }
                            
                            
                            $('.themecafe-landing-popup-wrapper .modal-header').css('padding', 0);
                            $('.themecafe-landing-popup-wrapper .modal-content').css('padding', 0);
                            $('.themecafe-landing-popup-wrapper .modal-footer').css('display', 'none');
                            $('.themecafe-landing-popup-wrapper .action-close').css('z-index', 901);
                            <?php print_r($block->setCustomCookie()); ?>
                        }
                );
            </script>
        <?php endif; ?>
    <?php endif; ?>
<?php } ?>