<form class="form" action="<?php echo $this->getUrl() . 'customer/account/trackaramexshipmentsearch'; ?>" method="post" id="form-validate" enctype="multipart/form-data" data-hasrequired="* Required Fields" autocomplete="off" novalidate="novalidate">

	<fieldset class="fieldset search-by-field">
        <div class="field">
            <label for="number" class="label">
                <span><?php /* @escapeNotVerified */ echo __('Search By') ?></span>
            </label>

            <div class="control">
                <div class="display-inline">
				    <input type="radio" name="search_by" value="shipment_number" checked="checked"> Shipment Number
                </div>
                <div class="display-inline">
    				<input type="radio" name="search_by" value="order_number"> Order Number
                </div>
            </div>
        </div>
    </fieldset>
    
    <fieldset class="fieldset search-field">
        <div class="field required">
            <label for="number" class="label">
                <span><?php /* @escapeNotVerified */ echo __('Order/Shipment Number') ?></span>
            </label>

            <div class="control">
                <input type="text" name="track_number" placeholder="Search by order or shipment number" class="input-text required-entry">
            </div>

            <div class="actions-toolbar">
                <div class="primary">
                    <button type="submit" class="action submit primary" title="<?php /* @escapeNotVerified */ echo __('Search') ?>">
                        <span><?php /* @escapeNotVerified */ echo __('Search') ?></span>
                    </button>
                </div>
            </div>
        </div>
    </fieldset>

</form>