<?php

	$soapClient = new SoapClient('app/code/Jsp/TrackAramexShipment/view/frontend/templates/customer/account/shipments-tracking-api-wsdl.wsdl');

	$shipment_number = $this->getRequest ()->getParam ('shipment_number');
	
	$params = array(
		'ClientInfo'  			=> array(
									'AccountCountryCode'	=> $block->getAccountCountryCode(),
									'AccountEntity'		 	=> $block->getAccountEntity(),
									'AccountNumber'		 	=> $block->getAccountNumber(),
									//'AccountNumber'		 	=> '123564898',
									'AccountPin'		 	=> $block->getAccountPin(),
									'UserName'			 	=> $block->getUserName(),
									'Password'			 	=> $block->getPassword(),
									'Version'			 	=> 'v1.0',
									'Source' 				=> 31
								),

		'Transaction' 			=> array(
									'Reference1'			=> '' 
								),
		'Shipments'				=> array($shipment_number)
	);
	//print_r($params);die;
	// calling the method and printing results
	try {
		$auth_call = $soapClient->TrackShipments($params);
		//echo '<pre>';
		//print_r($auth_call);
	} catch (SoapFault $fault) {
		die('Error : ' . $fault->faultstring);
	}
?>
<?php
	if(isset($auth_call->TrackingResults->KeyValueOfstringArrayOfTrackingResultmFAkxlpY->Value->TrackingResult)) {
?>
<div class="custom-tracking-process">
	<h2 class="header">
		<?php /* @escapeNotVerified */ echo __('Tracking number:') ?>
        <em><?php echo $shipment_number;?></em>
    </h2>
    <div class="amx-cp-tracking-status amx-mr-delivered">
    	<?php 
    		$TrackingResultCount = count($auth_call->TrackingResults->KeyValueOfstringArrayOfTrackingResultmFAkxlpY->Value->TrackingResult);
    		$checkDelivered = "no";
    		$intransitClass = "process-deliver ";
    		if($TrackingResultCount > 1 && isset($auth_call->TrackingResults->KeyValueOfstringArrayOfTrackingResultmFAkxlpY->Value->TrackingResult[0]->UpdateDescription)){
    			$myFirstArray = $auth_call->TrackingResults->KeyValueOfstringArrayOfTrackingResultmFAkxlpY->Value->TrackingResult[0]->UpdateDescription;
    			if(preg_match('/Delivered|Collected/i', $myFirstArray)) {
				  $checkDelivered = 'yes';
				  $intransitClass = '';
				}
    		}
    	?>
        <ul>
            <li class="tracking-status<?php if($TrackingResultCount > 1) { ?> active processing<?php } else {?> active wating processing<?php } ?>"> <!-- active wating processing -->
                <span class="status-wrapper">
                    <i class="amx-i-responsive-table processing-table"></i>
                </span>
                <div class="status-lbl"><?php /* @escapeNotVerified */ echo __('Processing') ?></div>
            </li>
            <li class="tracking-status <?php if($TrackingResultCount >= 2) { echo $intransitClass;?>active intransit<?php } ?>"> <!-- active intransit  -->
                <span class="status-wrapper">
                    <i class="amx-i-responsive-table intransit-table"></i>
                </span>
                <div class="status-lbl"><?php /* @escapeNotVerified */ echo __('In transit') ?></div>
            </li>
            <li class="tracking-status<?php if(isset($checkDelivered) && $checkDelivered == 'yes') { ?> active delivered <?php } ?>"> <!-- active delivered  -->
                <span class="status-wrapper">
                    <i class="amx-i-responsive-table delivered-table"></i>
                </span>
                <div class="status-lbl"><?php /* @escapeNotVerified */ echo __('Delivered') ?></div>
            </li>
        </ul>
    </div>
</div>
<?php } ?>
<div class="block block-dashboard-orders">
	<div class="block-content">
		<?php if(!empty($auth_call->HasErrors)) { ?>
			<div class="message info empty"><span>
				<?php
					echo $auth_call->Notifications->Notification->Message;
				?>
			</span></div>
		<?php 
			} else { 

				if(isset($auth_call->TrackingResults->KeyValueOfstringArrayOfTrackingResultmFAkxlpY->Value->TrackingResult)) {
			?>
			<div class="table-wrapper orders-recent">
				 <table class="data table table-order-items recent" id="my-orders-table">
				 	<thead>
	                    <tr>
	                        <th scope="col" class="col id"><?php /* @escapeNotVerified */ echo __('Date') ?></th>
	                        <th scope="col" class="col date"><?php /* @escapeNotVerified */ echo __('Location') ?></th>
	                        <th scope="col" class="col shipping"><?php /* @escapeNotVerified */ echo __('Activity') ?></th>
	                        <th scope="col" class="col shipping"><?php /* @escapeNotVerified */ echo __('Comments') ?></th>
	                    </tr>
	                </thead>
	                <tbody>
	                	<?php
	                	if($TrackingResultCount > 1){
	                	 	foreach ($auth_call->TrackingResults->KeyValueOfstringArrayOfTrackingResultmFAkxlpY->Value->TrackingResult as $key => $val){?>
	                	 <tr>
	                        <td><?php echo date('d M Y h:m A',strtotime($val->UpdateDateTime)); ?></td>
	                        <td><?php echo $val->UpdateLocation; ?></td>
	                        <td><?php echo $val->UpdateDescription; ?></td>
	                        <td><?php echo $val->Comments; ?></td>
	                     </tr>
	                    <?php } } else { ?>
	                    	<tr>
	                        <td><?php echo date('d M Y h:m A',strtotime($auth_call->TrackingResults->KeyValueOfstringArrayOfTrackingResultmFAkxlpY->Value->TrackingResult->UpdateDateTime)); ?></td>
	                        <td><?php echo $auth_call->TrackingResults->KeyValueOfstringArrayOfTrackingResultmFAkxlpY->Value->TrackingResult->UpdateLocation; ?></td>
	                        <td><?php echo $auth_call->TrackingResults->KeyValueOfstringArrayOfTrackingResultmFAkxlpY->Value->TrackingResult->UpdateDescription; ?></td>
	                        <td><?php echo $auth_call->TrackingResults->KeyValueOfstringArrayOfTrackingResultmFAkxlpY->Value->TrackingResult->Comments; ?></td>
	                     </tr>
	                    <?php } ?>   
	                </tbody>
				 </table>
			</div>
			<?php } else { ?>
				 <div class="message info empty"><span><?php /* @escapeNotVerified */ echo __('Tracking results not available.'); ?></span></div>
		<?php } } ?>
	</div>
</div>