.form-login{
    .actions-toolbar{
        flex-direction: row-reverse;
    }
}

.form-create-account,
.form-edit-account,
.form-address-edit{
    .fieldset{
        margin-bottom: $indent-base;
    }
    .actions-toolbar{
        flex-direction: row-reverse;
        .secondary{
        }
    }
}

//
//  Account main
//  _____________________________________________

body.account{
    //Block styling
    .block{}
    .block-title{
        position: relative;
        .action{
            position: absolute;
            right: 0;
            top: 0;
        }
    }
    //Box styling
    .box{
        address{
            margin-bottom: 1rem;
        }
    }
}

//
//  Account navigation (sidebar)
//  _____________________________________________

nav.account-nav{
    .item{
        &.current{
            strong{}
        }
        a{
            &:hover{}
        }
    }
}
