// /**
//  * Copyright © 2015 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

$checkout-wrapper__margin: $indent-base;
$checkout-wrapper__columns: 8;

$checkout-step-title__border: 1px solid lighten($default, 50%);
$checkout-step-title__font-size: 26px;
$checkout-step-title__font-weight: bold;
$checkout-step-title__padding: 10px;

$checkout-step-title-mobile__font-size: 18px;

//
//  Common
//  _____________________________________________

// .checkout-index-index
.opc-wrapper {
  .step-title {
    @extend .heading-3;
    border-bottom: $checkout-step-title__border;
    padding-bottom: $checkout-step-title__padding;
    margin-bottom: $checkout-step-title__padding;
  }

  .step-content {
    margin: 0;

    .note {
      font-size: $input-font-size - 2;
      &::before {
        font-family: $fa;
        content: '\f0d8';
        padding-right: 5px;
      }
    }
  }
}

.checkout-container {
  position: relative;
  border: 3px solid $theme-line-1;
  padding: 20px;

  @media (min-width: $screen-lg-min) {
    padding: 30px 30px 0;
  }
  @media (min-width: $screen-xl-min) {
    padding: 60px 60px 0;
  }
}

//
//  Desktop
//  _____________________________________________

@media (min-width: $screen-sm-min + 1) {
  .checkout-container {
    @include clearfix;
    .opc-wrapper {
      float: left;
      padding-right: 15px;
      padding-bottom: 30px;
      width: 66.6667%;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        height: 100%;
        right: -1px;
        border-right: 1px solid $theme-line-1;
      }
      @media (min-width: $screen-lg-min) {
        padding-right: 30px;
      }
      @media (min-width: $screen-xl-min) {
        padding-right: 60px;
      }
      .input-text {
        height: 50px;
      }

    }

    .opc-sidebar {
      float: right;
      margin: 0 0 20px;
      width: 33.3333%;
      padding-left: 15px;
      padding-bottom: 30px;
      padding-top: 15px;
      top:-170px;
      border-left: 1px solid $theme-line-1;
      position: relative;
      @media (min-width: $screen-lg-min) {
        padding-left: 30px;
        padding-top: 30px;
        top:-114px;
      }
      @media (min-width: $screen-xl-min) {
        padding-left: 60px;
        padding-top: 60px;
        top:-144px;
      }
    }
  }
}

