<!-- <fieldset class="fieldset create account" data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>">
    <div class="field mobile_number">
        <label for="mobile_number" class="label"><span><?php /* @escapeNotVerified */ echo __('Mobile Number') ?></span></label>
        <div class="control">
            <input type="text" name="mobile_number" id="mobile_number" title="<?php /* @escapeNotVerified */ echo __('Mobile Number') ?>" class="input-text required-entry validate-length maximum-length-10 minimum-length-10 validate-digits" data-validate="{required:true, 'validate-number':true}"  autocomplete="off">
        </div>
    </div>
</fieldset> -->