<div class="vsms-field-container sms-address-mobile-container">
	<input class="admin__control-text mobile-number sms-mobile-number" type="text"
	    data-bind="
	        event: {change: userChanges},
	        hasFocus: focused,
	        valueUpdate: valueUpdate,
	        css:{'otp-validated': otpValidated()},
	        attr: {
	            name: inputName,
	            placeholder: placeholder,
	            'aria-describedby': noticeId,
	            id: uid,
	            disabled: disabled,
	            maxlength: 255
	    }"/>
	<!-- ko if: showOtpForm() -->
		<a href="#" data-bind="click: sendOtp.bind($data, false), text: $t('Send Otp'), visible: !isSentOtp()"></a>
		<!-- ko if: isSentOtp() -->
			<input class="admin__control-text otp-checkout-field" type="text"
			    data-bind="
			    	value: otp,
			        attr: {
			            name: inputName+'_otp',
			            placeholder: $t('OTP'),
			            id: uid+'_otp',
			            disabled: disabled,
			            maxlength: 255,
			    }"/> 
		    <button class="action primary action-save-address sms-verifybtn" type="button" data-bind="click: verifyOtp.bind($data)"><span data-bind="text: $t('Verify')"></span></button>
		    <a href="#" class="sms-resendbtn" data-bind="click: resendOtp.bind($data), text: resendBtnLabel(), css: {'disabled': countNum() != false}"></a>
	    <!-- /ko -->
	<!-- /ko -->
	<span data-bind="afterRender: initMobileInput"></span>
</div>