<div class="pdf-section pdf-section-other-2cols" data-bind="attr: {id: sectionId}">
	<div class="pdf-text-col pdf-text-col1">
	   <?php echo $block->getChildHtml('col1_text')?>
	</div>
	<div class="pdf-text-col pdf-text-col2">
	   <?php echo $block->getChildHtml('col2_text')?>
	</div>
	<div class="pdf-clearer"></div>
</div>