<div class="pdf-section pdf-section-header1">
	<div class="pdf-header-logo">
        <?php echo $block->getChildHtml('logo')?>
	</div>
	<?php echo $block->getChildHtml('header_text')?>
	<div class="pdf-clearer"></div>
</div>