<div class="pdf-section pdf-section-number1">
    <?php echo $block->getChildHtml('primary_number')?>
	<?php echo $block->getChildHtml('order_number')?>
	<?php echo $block->getChildHtml('order_date')?>
	<div class="pdf-clearer"></div>
</div>