<div class="pdf-section pdf-section-totals1">
    <div class="pdf-totals-left">
    &nbsp;
    </div>
    <div class="pdf-totals-container">
	   <?php echo $block->getChildHtml('totals_block')?>
	</div>
	<div class="pdf-clearer"></div>
</div>