.newsletter{
    max-width: 600px;
    margin: 0 auto 75px;
    text-align: center;
    .newsletter {
        margin-bottom: 20px;
    }
    .title{
        @extend .heading-3;
        font-size: 30px;
    }
    .field label {
        font-size: 16px;
        text-transform: none;
        font-weight: normal;
        color: $default;
        letter-spacing: 0;
        margin: 0 0 25px;
        padding: 0;
    }
    #newsletter {
        height: 50px;
        text-align: center;
    }

}