@page {
	margin: 1.2in 0.5in 1.2in 0.5in;
	header: html_header;
	footer: html_footer;
}

.page {
	page-break-after:always;
	clear: both;
	position: relative;
}

.end-page{
	page-break-after:auto;
}

.pdf-clearer{clear: both; margin: 0pt; padding: 0pt;}

.pdf-section-number1{padding: 15px 0;}
.pdf-section-number1 .pdf-primary-num,
.pdf-section-number1 .pdf-order-num{font-weight: bold; margin-bottom: 10px; margin-top: 0;}
.pdf-section-number1 .pdf-order-date{color: #888; margin: 0;}

.pdf-section-info1{}
.pdf-section-info1 p,
.pdf-section-info1 .pdf-info-title{margin: 0;}
.pdf-section-info1 .pdf-info-box-title{border-bottom: 1px solid #d3d3d3;margin-bottom: 5px; padding-bottom: 5px;}
.pdf-section-info1 .pdf-info-container{width: 50%; float: left;}
.pdf-section-info1 .pdf-info-break-row {clear: both; margin-bottom: 20px;display: block;}
.pdf-section-info1 .pdf-info-box{padding: 10px 0; margin-right: 10px;}
.pdf-section-info1 .pdf-traking-tbl{margin-top: 20px; width: 100%;}
.pdf-section-info1 .pdf-traking-tbl th{background-color: #E7EBEE; padding: 7px 10px; text-align: left; font-weight: bold;}
.pdf-section-info1 .pdf-traking-tbl td{padding: 0px 10px;}

.pdf-section-header1{padding-bottom: 20px;}
.pdf-section-header1 .pdf-header-logo{float: left; margin-right: 20px; width: 250px;}
.pdf-section-header1 .pdf-header-text{float: left; width: 440px;}

.pdf-section-header2{padding-bottom: 20px;}
.pdf-section-header2 .pdf-header-logo{float: right; margin-left: 20px; width: 250px;}
.pdf-section-header2 .pdf-header-text{float: right; width: 410px;}

.pdf-section-other-1col{padding-bottom: 10px;}

.pdf-section-other-2cols{padding-bottom: 10px;}
.pdf-section-other-2cols .pdf-text-col{width: 50%; float: left; min-height: 10px;}
.pdf-section-other-2cols .pdf-text-col1 .pdf-other-text{padding-right: 10px;}
.pdf-section-other-2cols .pdf-text-col2 .pdf-other-text{padding-left: 10px;}

.pdf-section-other-3cols{padding-bottom: 10px;}
.pdf-section-other-3cols .pdf-text-col{width: 33.33%; float: left;min-height: 10px;}
.pdf-section-other-3cols .pdf-text-col1 .pdf-other-text{padding-right: 10px;}
.pdf-section-other-3cols .pdf-text-col2 .pdf-other-text{padding: 0 10px;}
.pdf-section-other-3cols .pdf-text-col3 .pdf-other-text{padding-left: 10px;}


.pdf-section-other-4cols{padding-bottom: 10px;}
.pdf-section-other-4cols .pdf-text-col{width: 24.9%; float: left;min-height: 10px;}
.pdf-section-other-4cols .pdf-text-col1 .pdf-other-text{padding-right: 10px;}
.pdf-section-other-4cols .pdf-text-col2 .pdf-other-text,
.pdf-section-other-4cols .pdf-text-col3 .pdf-other-text{padding: 0 10px;}
.pdf-section-other-4cols .pdf-text-col4 .pdf-other-text{padding-left: 10px;}

.pdf-section-items1{padding-bottom: 20px;}
.pdf-section-items1 .pdf-items-tbl{width: 100%;}
.pdf-section-items1 th{background-color: #E7EBEE; padding: 7px 10px; text-align: left; font-weight: bold;}
.pdf-section-items1 td{padding: 5px 10px; vertical-align: top;}

.pdf-section-totals1{}
.pdf-section-totals1 .pdf-totals-left{float: left; display: block; width: 300px; height: 10px;}
.pdf-section-totals1 .pdf-totals-container{display: block; float: right;}
.pdf-section-totals1 .pdf-totals-tbl{border: 1px solid #d3d3d3;}
.pdf-section-totals1 .pdf-totals-label,
.pdf-section-totals1 .pdf-totals-value{width: 250px; padding: 5px 10px;}
.pdf-section-totals1 .pdf-totals-value{width: 150px;}
.pdf-section-totals1 .pdf-totals-tbl tfoot tr{background: #EFF0F2;}