//
//  List
//  ---------------------------------------------

.products-list {
  .product-items {
    border: 3px solid $theme-line-1;
  }
  .product-item-info {
    @include make-flex;
  }
  .product-item {
    border-bottom: 1px solid $theme-line-1;
  }

  //Image
  .product-item-photo {
    border-right: 1px solid $theme-line-1;
    width: 30%;
    padding: 15px;
  }
  .product-image-container {
  }
  .product-image-photo {
    @include make-col();
    @include flex-basis(100%);
    text-align: center;
    padding: 0;

  }

  //Details
  .product-item-details {
    @include make-col();
    @include flex-basis(100%);
    padding: 15px;
  }
  .product-item-name {
    margin-bottom: 10px;
  }
  .product-item-link {
    font-size: 26px;
    color: $secondary-1;
    line-height: normal;
    &:hover {
      color: $primary;
    }
  }
  .product-item-description {
    font-size: 16px;
    margin-bottom: 28px;
  }

  //Reviews
  .product-reviews-summary {
    > div {
      display: inline-block;
    }
    .action.view,
    .action.add {
      margin: -3px 0 0 10px;
    }
  }
  .rating-summary {
    .label {
      display: none;
    }
  }
  .reviews-actions {
  }

  //Price
  .price-box {
    margin-bottom: 25px;
  }
  .price-final_price {
  }
  .old-price {
  }

  .price-from {
  }
  .price-label {
  }
  .price-wrapper {
  }
  .price {
  }

  .price-to {
  }
  .price-label {
  }
  .price-wrapper {
  }
  .price {
  }

  //Actions
  .product-item-actions {
    display: block;
    margin: 0;
  }
  .actions-primary {
    margin: 0;
    .primary::before {
      font-size: 28px;
      display: inline-block;
      margin-top: -10px;
      margin-bottom: -6px;
    }
  }
  .actions-secondary {

    margin: 0;
    padding-top: 20px;
    .action {
      border: 0;
      background: none;
      padding: 0;
      color: $secondary-2;
      margin-right: 18px;
      &:hover {
        color: $link-regular;
      }
    }
  }
  .tocart {
  }
  .towishlist {
  }
  .tocompare {
  }
  .label-product {
    margin-bottom: 17px;
  }
}

@media (min-width: $screen-md-min) {
  .products-list {
    .product-item-info {
      @include flex-wrap(nowrap);
    }
    .product-item-photo {
      padding: 50px;
      width: 50%;
    }
    .product-item-details {
      padding: 50px;
      @include flex-basis(100%);
    }
  }
}

@media (max-width: $screen-sm-min - 1) {
  .products-list {
    .product-item-info {
      @include flex-wrap(wrap);
    }
    .product-item-photo {
      width: 100%;
    }
    .product-item-details {
      @include flex-basis(100%);
    }
  }
}
