<div class="pdf-info-container <?php echo $block->getFrontendClass();?>">
    <div class="pdf-info-box">
		<div class="pdf-info-box-title">
			<?php echo($block->getFieldHtml('title'));?>
		</div>
		<div class="pdf-info-box-content">
			<?php echo($block->getFieldHtml('description'));?>
			<?php echo($block->getFieldHtml('tracking_list'));?>
		</div>
	</div>
</div>