<table class="pdf-traking-tbl">
	<thead> 
		<tr>
			<th><?php echo $block->getData('colTitle')?></th>
			<th><?php echo $block->getData('colCode')?></th>
		</tr> 
	</thead>
	<tbody>
	   {{foreach shipment.tracking as tracking}}
		<tr>
			<td>{{var tracking.title}}</td>
			<td>{{var tracking.track_number}}</td>
		</tr>
		{{/foreach}}
	</tbody>
</table>