<div class="vpb-component-container vpb-component-list" data-bind="
	visible: isActive,
	css:{[frontend_class]:true,'vpb-component-editable':editable},
	attr: {id: getPreviewFieldId()}
">
	<table class="pdf-traking-tbl">
		<thead> 
			<tr>
				<th data-bind="text: colTitle()"></th>
				<th data-bind="text: colCode()"></th>
			</tr> 
		</thead>
		<tbody>
			<tr>
				<td>{{var tracking.title}}</td>
				<td>{{var tracking.track_number}}</td>
			</tr> 
		</tbody>
	</table>
</div>