// Local vars

$block-indent: 25px;
$title-size: 20px;
$title-color: #fff;
$social-bg: none;
$block-color: #fff;
$input-color: #fff;

// Main Styles

.newsletter-popup.modal-popup._show {
  color: $block-color;
  // Modal

  .modal-inner-wrap {
    margin-top: 9%;
    background: $block-color url("../../web/images/media/newsletter-bg.gif") no-repeat center 55px;
    padding-bottom: 60px;
    padding-top: 260px;
  }
  .newsletter {
    margin-bottom: 0;
    max-width: inherit;
  }

  // Header
  header.modal-header {
    padding: 0;
    display: block !important;

    .action-close {
      position: absolute;
      top: 25px;
      right: 25px;
      display: block;
      font-size: 0;
      padding: 0;
      line-height: 1;
      background: none;
      border: 0;
      cursor: pointer;
      color: $secondary-2;
      &::before {
        @include font-icon__before("\e14c");
        font-size: 28px;
        line-height: 1;
        transition: all 0.3s ease;
      }
      &:hover {
        &:before {
          color: $secondary-1;
        }
      }
    }


  }
  // Content
  .modal-content {
    padding: 0 $block-indent 0;

    .newsletter {
      margin: 0;

      .field .control {
        #newsletter {
          outline: none;
          box-shadow: none;
          width: 100%;
          box-sizing: border-box;
          &::-webkit-input-placeholder {
          }
        }

        &::before {
          display: none;
        }
      }
      div.mage-error {
        position: absolute;
        top:100%;
      }

    }
    .content {
      margin-bottom: 30px;
    }
    .title {
      font-size: 30px;
      line-height: 1;
      margin-bottom: 25px;
    }
  }
  .modal-social {
    font-size: 1.75em;
    .fa {
      padding: 7px 5px;
    }
  }

  // Footer
  footer.modal-footer {
    padding: 0;
    text-align: center;

    .buttons-container {
      padding:0;
      button {
        display: none;
        cursor: pointer;
        &.subscribe {
          display: inline-block;
          transition: 0.3s;
        }
      }
    }

    .modal-social {
      background: $social-bg;
      padding: ($block-indent - 13) $block-indent 0;

      a {
        display: inline-block;
        margin-bottom: 5px;
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s;

      }
    }
  }

  @media screen and (max-width: 767px) {

    // Modal
    .modal-inner-wrap {
      width: auto !important;
      margin-right: 20px;
      margin-left: 20px;
      margin-top: 7%;
    }

  }
  @media screen and (max-width: 480px) {
    .modal-inner-wrap {
      background-size: contain;

    }
  }
  .container {
    max-width: inherit;
    min-width: inherit;
    padding: 0;
  }
}


