.select2-selection--single {
  border: none;
  border-radius: 0;
  outline: none;
  padding-left: 12px;
  &:hover {
    background: $input-bg-color;
  }

  .select2-selection__rendered {
    line-height: 30px;
  }

  .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;
  }

  .select2-selection__placeholder {
    color: #999;
  }

  .select2-selection__arrow {
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;

    b {
      @include font-icon('\f107', $fa);
      border: none;
      height: 0;
      position: absolute;
      width: 0;
      line-height: 30px;
    }
  }
}

&[dir="rtl"] {
  .select2-selection--single {
    .select2-selection__clear {
      float: left;
    }

    .select2-selection__arrow {
      left: 1px;
      right: auto;
    }
  }
}

&.select2-container--disabled {
  .select2-selection--single {
    background-color: #eee;
    cursor: default;
    opacity: 0.3;

    .select2-selection__clear {
      display: none;
    }
  }
}

&.select2-container--open {
  .select2-selection--single {
    .select2-selection__arrow {
      b {
        border-color: transparent transparent #888 transparent;
        border-width: 0 4px 5px 4px;
      }
    }
  }
}
