<div class="vpb-component-container vpb-component-group pb-feature-container" data-bind="
	visible: isActive,
	css:editable?(isMouseOver()?'vpb-component-editable hover':'vpb-component-editable'):''
">
	<div class="pb-feature-box-title">
		<div class="pb-feature-box-icon">
			<!-- ko foreach: getRegion('icon') -->
				<!-- ko template: getTemplate() --><!-- /ko -->
			<!--/ko-->
		</div>
		<!-- ko foreach: getRegion('title') -->
			<!-- ko template: getTemplate() --><!-- /ko -->
		<!--/ko-->
	</div>
	<!-- ko foreach: getRegion('description') -->
		<!-- ko template: getTemplate() --><!-- /ko -->
	<!--/ko-->

	<div class="vpb-component-info" data-bind="text: id+':'+label"></div>
</div>