//
// Variables
//----------------------------------------------
$search-padding-hor:     20px;
$search-padding-vert:    16px;

//
//  Search mini form
//  ---------------------------------------------

.block-search{
    .block-title,
    .nested{
        display: none;
    }
}

//
//  Desktop view Search
//-----------------------------------------------
.sm-desktop .block-search{
    #search_mini_form{
        &,
        > .search{
            z-index: 951;
            padding: 0;
            margin: 0;
        }

        .ui-dialog-buttonpane{
            display: none;
        }
    }


    .search .label{
        display: block;
        z-index: 11;
        font-family: $default-icon-family;
        width: $rd-navbar-panel-height;
        height: $rd-navbar-panel-height;
        background: transparent;
        font-size: 30px;
        @include toggle-icons-via-rotation($rd-navbar-panel-height, 20px, $sm-header-contrast-color, '\ea66', '\ea5c');

        span{
            text-indent: 200vw;
            color: $black;
            margin-top: 5px;
            &:before,
            &:after{
                text-indent: 0;
                font-size: 25px;
            }
        }

        &.active{
            right: 0;
            z-index: 99;
            span{
                color: $text-light;
            }
            &:hover span{
                color: $primary;
            }
        }
        &:hover {
            span {
                color: $primary;
            }
        }
    }

    .field.search > .search-control_wrapper{
        position: fixed;
        z-index: 10;
        left: auto;
        top: 0;
        right: 2*$rd-navbar-panel-height;
        width: 0;
        height: $rd-navbar-panel-height;
        transition: $default-transition;

        > .control{
            height: 100%;
        }

        input{
            border-radius: 0;
            height: 100%;
            width: 100%;
            display: block;
            background: $text-dark;
            border: none;
            font-size: 14px;
            line-height: 14px;
            padding: 16px 0 16px 0;
        }
    }

    #search_mini_form .search.active .search-control_wrapper{
        right: 0;
        left: 0;
        width: auto;
        z-index: 997;

        input{
            padding: 16px 112px 16px 16px;
        }
    }

    form{
        button[type="submit"]{
            @include font-icon('\ea66');
            background: transparent;
            color: $white;
            line-height: $rd-navbar-panel-height;
            margin: 0;
            padding: 0;
            position: fixed;
            z-index: 59;
            right: $rd-navbar-panel-height;
            top: -$rd-navbar-panel-height;
            width: $rd-navbar-panel-height;
            height: $rd-navbar-panel-height;
            opacity: 0;
            &:before{
                font-size: 20px;
            }

            span{
                display: none;
            }
        }
    }

    .field.search.active + .actions button[type="submit"]{
        top: 0;
        opacity: 1;
        z-index: 999;
        &:hover{
            color: $text-dark;
        }
    }
}

//
//  Mobile view Search
//-----------------------------------------------

.sm-mobile .block-search{
    #search_mini_form{
        &,
        > .search{
            position: fixed;
            z-index: 51;
            top: 0;
            left: 0;
            right: 0;
            height: 0;
            padding: 0;
            margin: 0;
        }

        .ui-dialog-buttonpane{
            display: none;
        }
    }


    .search .label{
        display: block;
        position: fixed;
        z-index: 11;
        top: 0;
        right: 2.5*$rd-navbar-panel-height;
        font-family: $default-icon-family;
        width: $rd-navbar-panel-height;
        height: $rd-navbar-panel-height;
        background: transparent;
        @include toggle-icons-via-rotation($rd-navbar-panel-height, 20px, $sm-header-contrast-color, '\ea66', '\ea5c');
        @media (max-width: $screen-md-min - 1){
            width: 56px;
            height: 56px;
            line-height: 56px;
        }

        span{
            text-indent: 200vw;
            @media (max-width: $screen-md-min - 1){
                width: 56px;
                height: 56px;
                line-height: 56px;
            }
            &:before,
            &:after{
                text-indent: 0;
                @media (min-width: $screen-md-min){
                    font-size: 30px;
                }
            }
        }

        &.active{
            right: 0;
            z-index: 99;
            span{
                color: $text-light;
            }
            &:hover span{
                color: $primary;
            }
        }
    }

    .field.search > .search-control_wrapper{
        position: fixed;
        z-index: 10;
        left: auto;
        top: 0;
        right: 2*$rd-navbar-panel-height;
        width: 0;
        height: $rd-navbar-panel-height;
        transition: $default-transition;

        > .control{
            height: 100%;
        }

        input{
            border-radius: 0;
            height: 100%;
            width: 100%;
            display: block;
            background: $white;
            border: none;
            font-size: 12px;
            line-height: 14px;
            padding: 16px 0 16px 0;
        }
    }

    #search_mini_form .search.active .search-control_wrapper{
        right: 0;
        left: 0;
        width: auto;
        z-index: 97;

        input{
            padding: 16px 112px 16px 25px;
            height: 56px;
        }
    }

    form{
        button[type="submit"]{
            @include font-icon('\ea66');
            background: transparent;
            color: $sm-header-main-color;
            line-height: $rd-navbar-panel-height;
            margin: 0;
            padding: 0;
            position: fixed;
            z-index: 59;
            right: $rd-navbar-panel-height;
            top: -$rd-navbar-panel-height;
            width: $rd-navbar-panel-height;
            height: $rd-navbar-panel-height;
            opacity: 0;
            &:hover {
                color: $white;
            }
            @media (max-width: $screen-md-min - 1){
                width: 56px;
                height: 56px;
                line-height: 56px;
                &:hover {
                    color: $primary;
                }
            }

            &:before{
                font-size: 20px;
            }

            span{
                display: none;
            }
        }
    }

    .field.search.active + .actions button[type="submit"]{
        top: 0;
        opacity: 1;
        z-index: 99;
        &:hover{
            color: $text-dark;
        }
    }
}

