//
//  Rating summary
//  ---------------------------------------------------

.rating-summary {
  .label {
    font-size: 16px;
    color: $secondary-1;
    margin-right: $indent-small;

  }
  .rating-result__stars {
    span[class^="material-icons-"] {
      color: $primary;
      display: inline-block;
      font-size: 0.98rem;
      line-height: 1;
      padding: 0;
    }
  }
  .rating-result__text {
    display: none;
  }
}

.items.review-items .rating-result__stars {
  padding-top: 7px;
}

//
//  Review List
//  ---------------------------------------------------
#reviews {
  text-align: left;
}

.review-list {
  .review-items {
    margin-top: $indent-base;
  }
  .review-item {
    margin-bottom: 20px;
    border-bottom: 1px solid $theme-line-1;
    padding-bottom: 20px;
  }
  .review-title {
    font-size: 16px;
    font-weight: bold;
    color: $link-regular;
    margin-bottom: 8px;
  }

  //Rating
  .review-ratings {
    margin-bottom: 18px;
  }

  .rating-summary {
    @include make-flex();
  }
  .rating-label {
    @include flex-basis(30%);
    padding: 4px 0;
  }
  .rating-result {
    display: inline-block;
  }

  //Details
  .review-details {
    font-style: italic;
    > p {
      display: inline-block;
      margin-right: 25px;
    }
  }
  .review-author {
  }
  .review-date {
  }
  .review-details-label {
  }
  .review-details-value {
    display: inline-block;
  }
  .pager {
    @include clearfix;
    .limiter {
      float: none;

    }
  }
  .form-inline {
    display: block;
  }
  .control {
    display: inline-block;
    select {
      height: auto;
    }
  }
}

@media (min-width: $screen-sm-min) {
  .review-list {
    .rating-label {
      @include flex-basis(7%);
    }
  }
}

//
//  Review Form
//  ---------------------------------------------------

.review-add {
  .review-legend {
    span {
      display: inline-block;
      margin-right: $indent-small;
    }
  }
  .block-title {
    strong {
      font-family: $default-font-family;
      letter-spacing: 2px;
    }
  }
}

.review-fieldset {
  .review-legend {
    padding: 0;
    display: block;
    width: 100%;
    color: $link-regular;
    margin-bottom: 10px;
    font-size: 16px;

    span {
      font-weight: bold;

    }
    strong {
      font-weight: normal;
    }
  }
  .field {
    margin-bottom: 20px;
    .label {
      letter-spacing: 0;
      text-transform: none;
      font-weight: normal;
      margin-right: 5px;
      line-height: normal;
      font-size: 16px;
      padding: 3px 0;
    }
    .review-control-vote {
      label {
        line-height: normal;
      }
    }
    legend.label {
      font-weight: bold;
    }

  }
  .input-text {
    height: 50px;
  }
}

.review-field-ratings {
}

.review-field-rating {
  margin-bottom: 0;
  > .label {
    min-width: 60px;
  }
}

#product-review-table {
  margin-top: 0;

}

.control.review-control-vote {
  display: inline-block;
  label[class^='rating-'] {
    display: inline-block;
    cursor: pointer;
    margin-right: 0;
    //Star rating
    .rating-star {
      color: $primary;
      display: inline-block;
      font-size: 1rem;
      line-height: 1;
      @include font-icon("\e83a");
    }

    &.fill {
      .rating-star {
        @include font-icon("\e838");
      }
    }
  }
  .radio {
    display: none;
  }
}
