<div class="vpb-icon-edit" data-bind="click: openIconChooser">
	<i data-bind="css: getIconClasses()"></i>
</div>
<!-- ko if: showColor || showColorHover || showFontSizeChanger -->
<div class="vpb-icon-attributes">
	<ul>
		<!-- ko if: showColor -->
		<li><label data-bind="text: $t('Color')"></label> <input type="text" data-bind="value: color"/></li>
		<!-- /ko -->
		<!-- ko if: showColorHover-->
		<li><label data-bind="text: $t('Hover Color')"></label> <input type="text" data-bind="value: colorHover" /></li>
		<!-- /ko -->
		<!-- ko if: showFontSizeChanger -->
		<li>
			<label data-bind="text: $t('Size')"></label> 
			<select data-bind="foreach: {data: getFontSizes(), as: 'fontSize'}, value: fontSize">
				<option data-bind="value: fontSize, text: fontSize"></option>
			</select> (px)
		</li>
		<!-- /ko -->
	</ul>
</div>
<!-- /ko -->
<!-- ko if: showIconChooser()!=='0' -->
<div class="vpb-section-edit animated" data-bind="attr: {id:getFieldId()+'_iconchooser'}, afterRender: bindScrollEvent, css: showIconChooser()?'slideInRight':'slideOutRight'">
	<a class="vpb-section-edit-close" href="#" data-bind="click: closeIconChooser"><i class="fa fa-close"></i></a>
	<h3 class="vpb-section-edit-title" data-bind="text: $t('Choose an Icon')"></h3>
	<div class="vpb-icon-tabs">
	<!-- ko foreach: {data: getFonts(), as: 'font'} -->
		<a href="#" data-bind="text: font.title, click: $parent.chooseFont.bind($parent, font), css:{active: $parent.isCurrentFilterFont(font)}"></a>
	<!-- /ko -->
	</div>
	<div class="vpb-icons-list">
		<div class="vpb-icons-container" data-bind="foreach: {data: getAvailableIcons(currentFilterFont()), as: 'iconClass'}">
			<i data-bind="css: $parent.currentFilterFont()+' '+iconClass, click: $parent.setIcon.bind($parent, iconClass)"></i>
		</div>
	</div>
</div>
<!-- /ko -->
