<div class="vpb-image-edit">
	<img data-bind="attr: {src: getImageUrl()}" />
	<div class="vpb-image-mask"></div>
	<div class="vpb-image-ctrls">
		<button data-bind="click: replaceImage.bind($data)"><span data-bind="text: $t('Replace')"></span></button>
	</div>
</div>