<ul class="vpb-link-edit">
	<li><label class="vpb-link-edit-label" data-bind="text: $t('Link Text'), attr: {for:getFieldId()}"></label><input type="text" data-bind="value: text, attr: {id:getFieldId()}"/></li>
	<li>
		<label class="vpb-link-edit-label" data-bind="text: $t('Link'), attr: {for:getFieldId()+'_href'}"></label>
		<input type="radio" value="none" data-bind="checked: linkType, attr: {id:getFieldId()+'_link_none'}" /> <label data-bind="text: $t('None'), attr: {for:getFieldId()+'_link_none'}"></label>
		<!-- <input type="radio" value="cmspage" data-bind="checked: linkType, attr: {id:getFieldId()+'_link_cmspage'}" /> <label data-bind="text: $t('CMS Page'), attr: {for:getFieldId()+'_link_cmspage'}"></label> -->
		<input type="radio" value="url" data-bind="checked: linkType, attr: {id:getFieldId()+'_link_url'}" /> <label data-bind="text: $t('URL'), attr: {for:getFieldId()+'_link_url'}"></label>
	</li>
	<li>
		<!-- ko if: linkType() == 'cmspage' -->
			<label class="vpb-link-edit-label" data-bind="text: $t('CMS Page'), attr: {for:getFieldId()+'_linkdata'}"></label>
			<input type="text" data-bind="value: text, attr: {id:getFieldId()+'_linkdata'}"/>
		<!-- /ko -->
		<!-- ko if: linkType() == 'url' -->
			<label class="vpb-link-edit-label" data-bind="text: $t('URL'), attr: {for:getFieldId()+'_linkdata'}"></label>
			<input type="text" data-bind="value: linkData, attr: {id:getFieldId()+'_linkdata', placeholder: $t('http://www.yourwebsite.com/yourpage.html')}"/>
		<!-- /ko -->
	</li>
	<li><input type="checkbox" data-bind="checked: openNewWindow, attr: {id:getFieldId()+'_link_newwindow'}" /> <label data-bind="text: $t('Open as new window'), attr: {for:getFieldId()+'_link_newwindow'}"></label></li>
</ul>