.checkout-onepage-index .autocomplete{ background: #f5f5f5; padding: 5px 10px; max-height: 114px;
    overflow-y: scroll;}
.checkout-onepage-index .autocomplete li{ cursor: pointer;}
.ui-autocomplete { height: 200px; overflow-y: scroll; overflow-x: hidden; 
list-style:none}

.ui-autocomplete_aramex {
    border: 1px solid #aaaaaa;
    background: #ffffff;
    color: #222222;
    height: 200px; 
    overflow-y: scroll; 
    overflow-x: hidden; 
    list-style:none;
    width:248px;
}

 .ui-autocomplete_aramex li{
    background:white;
    list-style: none;
       width:248pxt;
}
.ui-autocomplete_aramex li a{
    color:black!important;
    cursor:pointer!important;
}


