<div id="<?php echo $block->getNameInLayout()?>">
<?php $i = 0; $size = sizeof($this->getFields());foreach($this->getFields() as $fieldId => $fieldData):?>
    <?php echo $block->getChildHtml($fieldId);?>
    <?php if(($i % 2) == 1 || $i == ($size-1)):?>
        <div class="pdf-info-break-row"></div>
    <?php endif;?>
    <?php $i ++?>
<?php endforeach?>
</div>