<div class="rd-navbar-panel-canvas"></div>

<?php if ($this->getNameInLayout() == 'catalog.topnav' && (!$this->_helper->isVertical())): ?>
    <?php $columnsLimit = $block->getColumnsLimit() ?: 0; ?>
    <?php $_menu = $block->getHtml('level-top', 'submenu', $columnsLimit) ?>
    
    <nav class="navigation" role="navigation">
        <div class="container">
            <!-- RD Navbar Toggle -->
            <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
            <!-- END RD Navbar Toggle -->
            <div class="rd-navbar-nav-wrap">
                <ul class="rd-navbar-nav">
                    <?php echo $_menu; ?>
                </ul>
            </div>
        </div>
    </nav>

<?php elseif($this->getNameInLayout() == 'catalog.sidebarnav' && $this->_helper->isVertical()): ?>
    <?php $columnsLimit = $block->getColumnsLimit() ?: 0; ?>
    <?php $_menu = $block->getHtml('level-top', 'submenu', $columnsLimit) ?>

    <!-- Sidebar Nav -->
    <nav class="navigation" >
        <!-- RD Navbar Toggle -->
        <ul data-mage-init='{"megamenu":{"menus": "li > ul:not(.mm-submenu), .megamenu-wrapper", "responsive":true, "expanded":true, "position":{"my":"left top","at":"right top"}}}'>
            <?php echo $_menu; ?>
        </ul>
    </nav>

<?php endif; ?>
