.custom-tracking-process {
    width: 100%;
    float: left;
}
.custom-tracking-process .header {
    text-transform: capitalize;
    color: #000;
    font-size: 2em;
    line-height: 1.3;
    font-family: "Lato", sans-serif;
    text-align: center;
}
.custom-tracking-process .header em {
    color: #d19e66;
    font-style: normal;
}
.amx-cp-tracking-status {
    margin: 2em auto;
    max-width: 385px;
}
.amx-cp-tracking-status ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}
.amx-cp-tracking-status .tracking-status {
    display: inline-block;
    width: 85px;
    text-align: center;
}
.amx-cp-tracking-status .tracking-status {
    width: 125px;
}
.amx-cp-tracking-status .tracking-status .status-wrapper {
    background-color: #f0f0f0;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 8px;
    text-align: center;
    border-radius: 50%;
    position: relative;
    z-index: 2;
}
.amx-cp-tracking-status .tracking-status:nth-child(2) {
    position: relative;
}
.amx-cp-tracking-status .tracking-status:nth-child(2):before {
    position: absolute;
    content: "";
    left: -60px;
    height: 8px;
    width: 100%;
    background-color: #f0f0f0;
    top: 22px;
    z-index: 1;
}
.amx-cp-tracking-status .tracking-status:nth-child(3) {
    position: relative;
}
.amx-cp-tracking-status .tracking-status:nth-child(3):before {
    position: absolute;
    content: "";
    left: -60px;
    height: 8px;
    width: 100%;
    background-color: #f0f0f0;
    top: 22px;
    z-index: 1;
}
.amx-cp-tracking-status .tracking-status.active .status-wrapper {
    background-color: #d19e66;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 8px;
    text-align: center;
    border-radius: 50%;
}
.amx-cp-tracking-status .tracking-status.active .status-wrapper>i {
    border: 1px solid #fff;
    border-radius: 50%;
    margin: 3px;
    display: block;
    padding: 4px;
    color: #fff;
    font-size: 1.5em;
}
.amx-cp-tracking-status.amx-mr-delivered .delivered .status-wrapper, 
.amx-cp-tracking-status.amx-mr-delivered .intransit .status-wrapper, 
.amx-cp-tracking-status.amx-mr-delivered .processing .status-wrapper, 
.amx-cp-tracking-status.amx-mr-intransit .intransit .status-wrapper, 
.amx-cp-tracking-status.amx-mr-intransit .processing .status-wrapper, 
.amx-cp-tracking-status.amx-mr-processing .processing .status-wrapper, 
.amx-cp-tracking-status.amx-mr-received .delivered .status-wrapper, 
.amx-cp-tracking-status.amx-mr-received .intransit .status-wrapper, 
.amx-cp-tracking-status.amx-mr-received .processing .status-wrapper {
    visibility: visible;
}
.tracking-status .amx-i-responsive-table {
    width: 34px;
    height: 34px;
    background-size: 20px 20px !important;
}
.tracking-status.processing.wating .amx-i-responsive-table {
    background: url(menu-icon.svg) no-repeat center center;
}
.tracking-status.intransit.process-deliver .amx-i-responsive-table {
    background: url(right-arrow.svg) no-repeat center center;
}
.tracking-status.processing .amx-i-responsive-table,
.tracking-status.intransit .amx-i-responsive-table,
.tracking-status.delivered .amx-i-responsive-table {
    background: url(tick.svg) no-repeat center center;
}
.amx-cp-tracking-status .delivered .status-lbl, 
.amx-cp-tracking-status .intransit .status-lbl, 
.amx-cp-tracking-status .processing .status-lbl {
    color: #d19e66;
}
.amx-cp-tracking-status .tracking-status .status-lbl {
    text-transform: capitalize;
    font-size: 14px;
}


.search-by-field .radio, 
.search-by-field input[type="checkbox"], 
.search-by-field input[type="radio"] {
    height: auto;
    vertical-align: -2px;
    margin-top: 0;
}

.display-inline {
    display: inline-block;
    margin-right: 20px; 
}

.search-by-field .label {
    display: inline-block;
}
.search-by-field .control {
    display: inline-block;
    line-height: 46px;
}

.search-field .label {
    display: block;
}
.search-field .control {
    display: inline-block;
    width: 50%;
}
.search-field .control .input-text {
    padding: 0.55rem 1rem;
}
.search-field .actions-toolbar {
    display: inline-block;
    width: 30%;
    padding-left: 15px;
}