<div class="vpb-component-container vpb-component-group pdf-info-container" data-bind="
	visible: isActive,
	css:editable?(isMouseOver()?'vpb-component-editable hover':'vpb-component-editable'):''
">

	<div class="pdf-info-box">
		<div class="pdf-info-box-title">
			<!-- ko foreach: getRegion('title') -->
				<!-- ko template: getTemplate() --><!-- /ko -->
			<!--/ko-->
		</div>
		<div class="pdf-info-box-content">
			<!-- ko foreach: getRegion('description') -->
				<!-- ko template: getTemplate() --><!-- /ko -->
			<!--/ko-->
		</div>
	</div>

	<div class="vpb-component-info" data-bind="text: id+':'+label"></div>
</div>