<div class="field mobile vsms-field-container required">
    <label for="mobile-number" class="label"><span><?php /* @escapeNotVerified */ echo __('Mobile Number') ?></span></label>
    <div class="control">
        <input type="tel" name="mobile_number_input" id="mobile-number-input" value="<?php echo $block->getInitMobileNumber();?>" 
            class="input-text mobile-number required-entry validate-phone-number<?php if($block->isEnabledVerifying()):?> otp-verify<?php endif;?><?php if($block->getIsVerifiedMobile()):?> otp-validated<?php endif;?>" />        
        <input type="hidden" name="mobile_number" id="mobile-number" />
        <input type="hidden" name="mobile_otp" id="mobile-otp" />
    </div>
</div>

<div class="sms-otp-dialog" id="sms-otp-dialog">
    <div class="sms-otp-step-1">
        <p style="display: inline-block;"><?php echo __("Click to the button below to verify your phone number")?> </p>
        <span class="sms-otp-mobile"></span><br/>
        <button class="action primary send-otp-btn" id="send-otp-btn"><span><?php echo __("Get OTP")?></span></button>
    </div>
    <div class="sms-otp-step-2">
        <p><?php echo __("A text message with a %1-digit verification code has been sent to",$block->getOtpLength())?> <span id="sms-otp-dialog-mobile" class="sms-otp-mobile"></span></p>
        <input type="text" name="sms_otp_code" id="sms-otp-input" value="" class="input-text required-entry" placeholder="<?php echo __("Your OTP")?>"/>
        <button class="action primary send-otp-btn" id="verify-otp-btn"><span><?php echo __("Verify")?></span></button>
        <a href="#" class="resend-otp-btn" id="resend-otp-btn" data-time="<?php echo $block->getOtpResendPeriodTime()?>"><?php echo __("Resend after %1 seconds", $block->getOtpResendPeriodTime())?></a>
    </div>
</div>

<script type="text/javascript">
var URL_SEND_OTP = '<?php echo $block->getSendOtpUrl();?>';
var URL_VERIFY_OTP = '<?php echo $block->getVerifyOtpUrl();?>';

require([
     'jquery',
     'Magento_Ui/js/modal/modal',
     'Magento_Ui/js/modal/alert',
     'jquery/intltellinput',
     'Vnecoms_Sms/js/utils',
     'mage/mage',
     'mage/validation',
     'loader',
     'domReady!'
], function($, modal, alert){
	function initMobileInput(){
	    $("#mobile-number-input").intlTelInput({
	    	initialCountry: '<?php echo strtolower($block->getInitialCountry());?>',
	    <?php if($block->getInitialCountry() == 'auto'):?>
        	geoIpLookup: function(callback) {
        	    $.get("https://ipinfo.io?token=d9a48054457087", function() {}, "jsonp").always(function(resp) {
     	    	   var countryCode = (resp && resp.country) ? resp.country : "";
     	    	   callback(countryCode);
    		    });
      		},
  		<?php endif;?>
  		onlyCountries: <?php echo $block->getOnlyCountries();?>,
		preferredCountries:<?php echo $block->getPreferredCountries();?>
        }).done(function() {
        	$('#mobile-number').val($("#mobile-number-input").intlTelInput("getNumber"));
     	   $('#mobile-number-input').on('keyup', function() {
      		   validatePhoneNum();
       	   }).on("countrychange", function(e, countryData) {
          		validatePhoneNum();
      	   });
      	});
	}

    /**
     * Validate phone number
     */
    function validatePhoneNum(){
        var number = $("#mobile-number-input").intlTelInput("getNumber");
        var currentCustomerNumber = '<?php echo $this->getCustomer()->getMobilenumber()?>';
        if(currentCustomerNumber.length && (number == currentCustomerNumber)){
        	$('#mobile-number-input').addClass('otp-validated');
        }else{
        	$('#mobile-number-input').removeClass('otp-validated');
        }
        
        $('#mobile-number').val(number);
        $('.sms-otp-mobile').html($("#mobile-number-input").intlTelInput("getNumber", intlTelInputUtils.numberFormat.INTERNATIONAL)); /*intlTelInputUtils.numberFormat.NATIONAL*/
    }

    /**
     * Send otp
     */
    function sendOtp(isResend){
    	$.ajax({
      		  url: URL_SEND_OTP,
      		  method: "POST",
      		  data: {
          		  mobile : $("#mobile-number").val(),
          		  resend : isResend,
    		  },
      		  dataType: "json"
    		}).done(function( response ){
    			if(response.success){
    				$('.sms-otp-step-1').hide();
    				$('.sms-otp-step-2').show();
    				$('#mobile-number-id').val(response.mobile_id);
    				runCountDown();
    			}else{
    				alert({
        				modalClass: 'confirm ves-error',
                        title: "<?php echo __("Verify Error");?>",
                        content: response.msg,
                    });
    			}
    			
    	});
    }
    
    function runCountDown(){
        var resendBtn = $('#resend-otp-btn');
        if(!resendBtn.hasClass('running')){
        	resendBtn.addClass('running');
        }

        if(!resendBtn.data('couting')){
        	!resendBtn.data('couting', resendBtn.data('time'));
        }
        var count = parseInt(resendBtn.data('couting'));
        count --;
        resendBtn.data('couting', count);
        resendBtn.html('<?php echo __("Resend after %1 seconds")?>'.replace('%1', count));

        if(count == 0) {
        	resendBtn.removeClass('running');
        	resendBtn.html('<?php echo __("Resend OTP")?>');
            return;
        }
        setTimeout(function(){runCountDown()}, 1000);
    }

    initMobileInput();
	    
    $('#send-otp-btn').click(function(){
    	sendOtp(0);
    });

    $('#resend-otp-btn').click(function(){
        if($('#resend-otp-btn').hasClass('running')){
        	return false;
        }
    	sendOtp(1);
    	return false;
    });
    
    $('#verify-otp-btn').click(function(){
    	$('#sms-otp-error').remove();
        if($(this).hasClass('verifying')){
            return;
        }
        var otp = $('#sms-otp-input').val();
        if(!otp){
        	$('#sms-otp-input').after('<div id="sms-otp-error" class="sms-otp-error" for="sms-otp-input"><?php echo __("This is required field.");?></div>');
            return;
        }
        
        $(this).addClass('verifying');
        
    	$.ajax({
  		  url: URL_VERIFY_OTP,
  		  method: "POST",
  		  data: {
      		  mobile : $("#mobile-number").val(),
      		  otp: otp
		  },
  		  dataType: "json"
		}).done(function( response ){
			$('#verify-otp-btn').removeClass('verifying');
			$('#sms-otp-input').val('');
			if(response.success){
				$("#mobile-otp").val(response.otp);
				$('#mobile-number-input').addClass('otp-validated').validation().validation('isValid');
				$('#sms-otp-dialog').modal('closeModal');
        $('.jq_create_account').trigger('click');
			}else{
				$('#sms-otp-input').after('<div id="sms-otp-error" class="sms-otp-error" for="sms-otp-input">'+response.msg+'</div>');
			}
			
		});
    });

    
    var rules = {
	   'validate-phone-number': [
          function (value, element) {
              return $(element).intlTelInput("isValidNumber");
          },
          '<?php echo __("The mobile number is not valid.")?>'
        ],
        'otp-verify': [
            function (value, element) {                      
                if(!$(element).hasClass('otp-validated')){
                	$('.sms-otp-step-1').show();
    				$('.sms-otp-step-2').hide();
                	$('#sms-otp-dialog').modal('openModal');
                	return false;
                }
                return true;
            },
            '<?php echo __("Your mobile number is not verified.")?>'
        ],
    };
    
    $.each(rules, function (i, rule) {
        rule.unshift(i);
        $.validator.addMethod.apply($.validator, rule);
    });

    var options = {
        type: 'popup',
        modalClass:'otp-verify-modal',
        responsive: true,
        innerScroll: true,
        title: '<?php echo __("Verify Your Mobile Number")?>',
        buttons: []
    };
    var popup = modal(options, $('#sms-otp-dialog'));
});
</script>