<section class="pb-section pb-section-feature2" data-bind="attr: {id: sectionId}">
	<div class="pb-section-title">
		<!-- ko foreach: getRegion('title') -->
			<!-- ko template: getTemplate() --><!-- /ko -->
		<!--/ko-->
		<!-- ko foreach: getRegion('subtitle') -->
			<!-- ko template: getTemplate() --><!-- /ko -->
		<!--/ko-->
	</div>
	<!-- ko foreach: getRegion('description') -->
		<!-- ko template: getTemplate() --><!-- /ko -->
	<!--/ko-->
	
	
	<div class="pb-section-col1-2">
		<!-- ko foreach: getRegion('group1_title') -->
			<!-- ko template: getTemplate() --><!-- /ko -->
		<!--/ko-->
		<!-- ko foreach: getRegion('group1_description') -->
			<!-- ko template: getTemplate() --><!-- /ko -->
		<!--/ko-->
		
		<!-- ko foreach: getRegion('group2_title') -->
			<!-- ko template: getTemplate() --><!-- /ko -->
		<!--/ko-->
		<!-- ko foreach: getRegion('key_features') -->
			<!-- ko template: getTemplate() --><!-- /ko -->
		<!--/ko-->
	</div>
	
	<div class="pb-section-col2-2">
	<!-- ko foreach: getRegion('feature_list') -->
		<!-- ko template: getTemplate() --><!-- /ko -->
	<!--/ko-->
	</div>
	
</section>