<section class="pb-section pb-section-feature5" data-bind="attr: {id: sectionId}">
	<div class="pb-section-title">
		<!-- ko foreach: getRegion('title') -->
			<!-- ko template: getTemplate() --><!-- /ko -->
		<!--/ko-->
		<!-- ko foreach: getRegion('subtitle') -->
			<!-- ko template: getTemplate() --><!-- /ko -->
		<!--/ko-->
	</div>
	<!-- ko foreach: getRegion('description') -->
		<!-- ko template: getTemplate() --><!-- /ko -->
	<!--/ko-->
	<!-- ko foreach: getRegion('feature_list') -->
		<!-- ko template: getTemplate() --><!-- /ko -->
	<!--/ko-->	
</section>