.slider-pro-wrapper {
  margin-bottom: 80px;
  margin-top: -30px;
  z-index: 1;
  .title-slider {
    span {
      color: $primary;
    }
  }
  .desc-slider {
    span {
      font-weight: normal;
      color: $secondary-1;
      font-style: italic;
    }
  }

  .link-slider {
    @include button-block__primary();
    display: inline-block;
    transition: all 0.3s ease !important;
    background: none;
    color: $button-bg-color;
    &:hover {
      background: $button-bg-color;
      color: $white;
    }
  }
  .sp-buttons {
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 100%;
    text-align: center;
    .sp-button {
      display: inline-block;
      border:0;
      background: $white;
      width: 12px;
      height: 12px;
      margin: 0 15px;
      transition: all 0.2s ease 0s;
      position: relative;
      z-index: 4;
      &.sp-selected-button,
      &:hover {
        background: $primary;
        &:before {
          width: 22px;
          height: 22px;

          opacity: 0.6;
        }
      }
      &:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        left: -5px;
        top:-5px;
        border:5px solid $white;
        opacity: 0;
        border-radius: 50%;
      }
    }
  }

  @media (max-width: $screen-sm-min - 1) {
    max-width: 480px;
    padding: 0 15px;
    margin: -15px auto 20px;
    .sp-buttons {
      bottom: 0;
    }
    .slog-slider {
      display: none;
    }
    .button-slider {
      transform:scale(0.6) !important;
      margin-top: -15px;
      &.extra {
        margin-left: -40px;
      }
    }
  }
  @media (max-width: $screen-xs-min - 1) {
    .title-slider,
    .slog2-slider {
      display: none;
    }
    .button-slider {
      transform:scale(0.4) !important;
      margin-top: -5px;
      &.extra {
        margin-left: -20px;
      }
    }
    .sp-buttons {
      bottom: -8px;
        .sp-button {
          margin: 0 4px;
          width: 7px;
          height: 7px;
          &:before {
            display: none;
          }
        }
    }

  }
}