//
//  Main Styles
//  _____________________________________________

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: $default-font-family;
  font-weight: $default-font-weight;
  font-size: $default-font-size;
  line-height: 20px;
  text-align: left;
  -webkit-text-size-adjust: none;
  color: $content-color;
  background: $content-bg;

  @media (min-width: $screen-md-min) {
    font-size: $default-font-size;
  }
}

a {
  color: $link-regular;
}

a:hover {
  color: $link-hover;
}

//  Headings
@for $i from 1 through 6 {
  h#{$i},
  .heading-#{$i} {
    a {
      color: $link-regular;
    }

    a:hover {
      color: $link-hover;
    }
  }
}

//Paragraph
p {
  margin-bottom: $indent-small;
}

p, .list, .contact-info {
  a {
    color: $primary;
  }

  a:hover {
    color: $secondary-1;
  }
}

mark {
  color: #FFF;
  background: $primary;
}

em {
  color: $primary;
}

small, .small {
  font-size: .8em;
}

.big {
  font-size: 1.2em;
}

pre {
  white-space: normal;
}

//Titles
.page-title,
.section-title {
  @extend .text-center;
  @for $i from 1 through 6 {
    h#{$i},
    .heading-#{$i},
    span {
      @extend .heading-1;
      font-size: 30px;
      line-height: 30px;
      font-weight: bold;
    }
  }
  b {
    font-weight: 400;
    color: $primary;
  }
}

//Price
.price-box {
  .special-price,
  .old-price {
    .price-label {
      display: none;
    }
  }
  .old-price {
    display: inline-block;
    padding-top: 3px;
  }
  .price {
    font-family: $default-font-family;
  }
}
.price {
  color: $primary;
  font-weight: bold;
}
.old-price {
  .price {
    color: $default;
    font-style: italic;
    font-weight: normal;
    text-decoration: line-through;
  }
}


//
//  Header
//  _____________________________________________

.page-header {
  margin-bottom: $indent-base;
  padding-bottom: 50px;
  box-shadow: 0 0px 10px rgba(0,0,0,0.13);
  @media (max-width: $screen-sm-min) {
    padding-bottom: 15px;
    box-shadow: none;
  }
}

.page-header__panel {
  .container {
    position: relative;
    padding-bottom: 15px;
    padding-top: 13px;


    &:after {
      content: "";
      display: table;
      clear: both;
    }
    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      height: 3px;
      background: $theme-line-1;
      left: 15px;
      right: 15px;
      @media (min-width: $screen-xl-min) {
        left: 30px;
        right: 30px;
      }
    }
  }
  .rd-navbar-collapse-container {
    float: left;
    @media (max-width: $screen-xl-min - 1) and (min-width: $screen-sm-min) {
      width: 100%;
      border-top:1px solid $theme-line-1;
      padding-top: 8px;
      margin-top: 15px;
      text-align: center;
    }
    a {
      color: $primary;
      &:hover {
        color: $link-regular;
      }
    }
  }
  .welcome {
    float: right;
    font-style: italic;
    @media (max-width: $screen-xl-min - 1) {
      float: left;
    }
    @media (max-width: $screen-sm-min - 1) {
      float: none;
      text-align: center;
    }
  }
}

.page-header__content {
  padding: 10px 0;
  position: relative;
  min-height: 166px;
  .container {
    @include clearfix;
  }
  .logo {
    display: inline-block;
    @media (min-width: $screen-md-min ) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform:  translate(-50%, -50%);
    }
  }
}

.rd-navbar-static .page-header__content .rd-navbar-search {
  margin-left: auto;
}

.header.links {
  li {
    margin-left: $indent-small;
  }
}

.header-switchers {
  @include clearfix;
  float: right;
  > div {
    float: left;
    margin:0 0 0 20px;
    padding-left: 20px;
    border-left: 1px solid $theme-line-1;
  }
  .actions {
    .action {
      background-color: transparent;
      transition: .3s ease;
      padding: 0;
      border: 0;
      &.active,
      &:hover {
        background-color: transparent;
        color: $primary;
      }
      strong {
        font-weight: 400;
      }
    }
  }
}

.header-info {
  float: left;
  padding-top:52px;
  a {
    strong {
      font-size: 20px;
      color: $secondary-1;
      font-weight: bold;
      letter-spacing: 2px;
      transition: all 0.3s ease;
    }
    &:hover {
      strong {
        color: $primary;
      }
    }
  }
  span {
    display: block;
    font-style: italic;
    padding-top: 5px;

  }

}
.header-icon {
  float: right;
  overflow: hidden;
  padding-top:64px;
  li {
    float: left;
    margin-left: 21px;
  }
  a {
    font-size: 16px;
    color: $secondary-2;
    &:hover {
      color: $secondary-1;
    }
  }
}

@media (max-width: $screen-md-min - 1) {
  .page-header__content  {
    .container {
      @include make-flex;
      @include flex-wrap(wrap);
      text-align: center;
      > div {
        width: 100%;
      }
    }
    .logo {
      @include order(1);
      margin: 20px auto 0;
    }
    .header-info {
      @include order(2);
      margin: 0 auto;
      float: none;
      padding-top: 25px;
    }
    .header-icon {
      @include order(3);
      margin: 0 auto;
      float: none;
      padding-top: 25px;
      li {
        margin: 0 10px;

      }
    }
  }
}

//
//  Switchers
//  ---------------------------------------------

//Switcher variables
$switcher-dropdown-bg: $white;
$switcher-dropdown-color: $default;
$switcher-dropdown-bg-hover: lighten($default, 60%);
$switcher-dropdown-color-hover: $default;
$switcher-dropdown-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.2);

.switcher {
  position: relative;
  margin: 0 $indent-small;
  padding: 0;
  .toggle {
    cursor: pointer;
    &::after {
      font-family: $fa;
      content: '\f107';
      padding: 4px;
      color: $default;
    }
    &.active {
      &::after {
        font-family: $fa;
        content: '\f106';
        color: $primary;
      }
    }
  }
  .switcher-trigger{
   &:hover,
   &.active{
      strong {
        color: $secondary-1;
      }
    }
  }
  .dropdown {
    .mage-dropdown-dialog {
      @include transform(translateY(-30px));
      transition: .3s all ease;
      opacity: 0;
      visibility: hidden;
      position: absolute;
      right: 0;
      background: $theme-module-bg;
      border: none;
      width: 70px;
      z-index: 15;
      top:38px;

      a {
        display: block;
        padding: 5px 10px;
        color: $default;

        &:hover {
          background: $theme-module-bg-active;
          color: $secondary-1;
        }
      }
    }
    &.active .mage-dropdown-dialog {
      opacity: 1;
      visibility: visible;
      @include transform(translateY(0));
    }
  }
}

.switcher-label {
  display: none;
}

.switcher-options {
  display: inline-block;
  &.active {
    .switcher-dropdown {
      display: inline-block;
    }
  }
}

.switcher-trigger {
}

.switcher-dropdown {
  display: none;
}

.links {
  li {
    display: inline-block;
  }
}

//
//  Navigation
//  ---------------------------------------------

.page-top {
  margin-bottom: $indent-base;
}

//
//  Breadcrumbs
//  ---------------------------------------------

.breadcrumbs {
  margin-bottom: 65px;
  margin-top: -20px;
  box-shadow:0 4px 4px rgba(0, 0, 0, 0.07);
  padding-bottom: 12px;
  .items {
    .item {
      display: inline-block;
      font-size: 12px;
      margin-right:4px;
      padding-right: 12px;
      position: relative;
      &:before {
        @include font-icon__before("\e5cc");
        position: absolute;
        right: -4px;
        top: 2px;
      }
      &:last-child {
        margin-right: 0;
        padding-right: 0;
        &:before {
          display: none;
        }
      }
    }
  }
}

//
//  Main content
//  _____________________________________________

.login-container,
.form-create-account {
  border: 3px solid $theme-line-1;
  padding: 60px;
  max-width: 1170px;
  margin: 0 auto;
  @media (max-width: $screen-xl-min - 1) {
    padding: 20px;
  }
  .field .label {
    display: none;
  }
  .field.choice .label {
    display: inline-block;
  }

  .legend {
    color: $secondary-1;
    margin-bottom: 20px;
    font-family: $extra-font-family;
  }

}
.form-create-account {
  .field .label {
    display: block;
  }
}

.page-main {
  margin-bottom: 70px;
}

//Page title
.page-title-wrapper {
  margin-bottom: 45px;
}

@media (min-width: $screen-xl-min ) {
  .column.main {
    .page-title-wrapper {
      margin-bottom: -30px;
      .base,
      .page-title {
        margin: 0;
      }
    }
  }
}

//
//  Page layouts
//  ---------------------------------------------

.columns > .row {
  @include make-flex();
  @include flex(0 1 auto);
  @include flex-direction(row);
  @include flex-wrap(wrap);
}

//Three columns
.page-layout-3columns {
  .grid-left {
    @include order(1);
  }
  .grid-main {
    @include order(2);
  }
  .grid-right {
    @include order(3);
  }
}

//Two columns with right aside
.page-layout-2columns-right {
  .grid-main {
    @include order(1);
  }
  .grid-right {
    @include order(2);
  }
}

//Two columns with left aside
.page-layout-2columns-left {
  .grid-left {
    @include order(1);
  }
  .grid-main {
    @include order(2);
  }
}

.page-layout-1column {

}

@media (max-width: $screen-sm-min - 1) {
  .page-layout-3columns,
  .page-layout-2columns-right,
  .page-layout-2columns-left {
    .grid-left,
    .grid-main {
      @include flex-basis(100%);
    }
    .grid-main {
      @include order(1);
    }
    .grid-left {
      @include order(2);
    }
    .grid-right {
      @include order(3);
    }
  }
}

//
//  Blocks
//  ---------------------------------------------

.block {
  margin-bottom: $indent-base;
}

.block-title {
  margin-bottom: $indent-small;
  position: relative;
  strong {
    @extend .heading-3;
  }
  .action {
    float: right;
    padding: 0;
    background: 0;
    line-height: inherit;
    &.edit {
      padding: 0 $button-padding-hor;
      border: 0;
    }
  }
  .counter {
    float: right;
    font-size: .8rem;
  }
  b {
    font-weight: 400;
    color: $primary;
  }
}

.block-subtitle {
  display: block;
  margin-bottom: $indent-small;
}

//
//  Boxes
//  ---------------------------------------------


.box {
  margin-bottom: $indent-small;
  border: 1px solid $theme-line-1;
  padding: 15px;
}

.box-information {

}

.box-title {
  margin-bottom: $indent-small;
  display: block;
  @extend .heading-4;
  margin-top: 0;
  color: $secondary-1;
  border-bottom: 1px solid $theme-line-1;
  padding-bottom: 10px;
}

.fieldset {
  .legend {
    color: $secondary-1;
    padding-bottom: 10px;
    font-size: 1.2rem;
  }
}


//
//  Sidebars
//  ---------------------------------------------
.sidebar {
  .block {
    margin-bottom: $indent-base;
    .block-title {
      margin-bottom: 20px;
      strong {
        font-size: 23px;
        margin: 0;
      }
      .counter {
        display: none;
      }
    }
  }
  .actions-toolbar {
    @include flex-wrap(wrap);

  }
  .actions-primary,
  .secondary,
  .primary {
    .action {
      font-size: 11px;
      padding: 8px 20px;
      text-transform: uppercase;
      letter-spacing: 1px;
      line-height: 1;
      margin-bottom: 5px;
    }
  }
  .block-content .subtitle {
    color: $link-regular;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  @media (max-width: $screen-md-min - 1) {
    &.sidebar-main {
      margin-top: 30px;
    }
    .collapsible-block {
      .opener{
        display: block !important;
        padding-bottom: 5px;
        margin-bottom: 5px;
        border-bottom: 1px solid $theme-line-1;
        &:before {
          top:9px;
        }
      }
      > .block {
        padding-top: 10px;
      }
    }
  }
}
.block-reorder {
  .field {
    @include clearfix;
    label {
      text-transform: none;
      font-size: 13px;
      letter-spacing: 0;
      height:auto;
      line-height: normal;
      float: left;
      padding: 2px 0;
      margin-right: 10px;
    }
    .checkbox {
      margin: 0;
      height: auto;
    }
  }
  .product-item {
    padding: 20px 0;
  }
}
.account-nav {
  li {
    margin-bottom: 8px;
    a {
      color: $link-regular;
      &:hover {
        color: $primary;
      }
    }
    &.current {
      color: $primary;
      font-weight: bold;
      a {
        color: $primary;
      }
    }
  }
}

//
//  Compare products block
//  ---------------------------------------------

.block-compare{
  .product-items{
  }
  .product-item-name{
    display: block;
    padding-right: 40px;
    font-weight: normal;
  }
  .product-item{
    position: relative;
    margin-bottom: 8px;
  }
  .action.delete{
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 $button-padding-hor;
  }
  .actions-toolbar{
    @include make-flex();
    @include justify-content(space-between);
    .primary{
      @include order(2);
    }
  }
}


//
//  Custom
//  ---------------------------------------------




.list-1 {
  @include make-flex;
  @include flex-wrap(wrap);

  li {
    overflow: hidden;
    position: relative;
    width: 25%;
    &:first-child,
    &:last-child{
      width: 50%;
    }
    @media (max-width: $screen-lg-min - 1) {
      width: 50%;
      &:first-child,
      &:last-child{
        width: 100%;
      }
    }

  }
  .list-content {
    position: absolute;
    padding: 15px 15px 50px 50px;
    bottom: 0;
    left: 0;
  }
  li {
    &:first-child,
    &:last-child{
      .list-content {
        padding: 15px 15px 102px 80px;
        @media (max-width: $screen-xl-min - 1) {
          padding-left: 30px;
          padding-bottom: 30px;
        }
        @media (max-width: $screen-lg-min - 1) {
          padding-left: 60px;
          padding-bottom: 125px;
        }
        @media (max-width: $screen-lg-min - 1) {
          padding-left: 80px;
          padding-bottom:120px;
        }
        @media (max-width: $screen-md-min - 1) {
          padding-left: 50px;
          padding-bottom: 80px;
          .title-1 {
            font-size: 24px;
          }
          .title-2 {
            font-size: 26px;
          }
        }
        @media (max-width: $screen-sm-min - 1) {
          padding-left: 35px;
          padding-bottom: 48px;
        }
        @media (max-width: $screen-xs-min - 1) {
          padding-left: 20px;
          padding-bottom: 34px;
          .title-1 {
            font-size: 16px;
          }
          .title-2 {
            font-size: 18px;
          }
        }
      }
    }
  }
  img {
    width: 100%;
  }

  .title-1 {
    font-family: $extra-font-family;
    font-size: 30px;
    line-height: 1;
    font-style: italic;
    color: #999999;
    margin-bottom: 19px;
  }
  .title-2 {
    font-family: $extra-font-family;
    font-size: 40px;
    line-height: 1;
    font-weight: bold;
    color: #fff;
    margin-bottom: 35px;
  }
  .link-button {
    display: inline-block;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: 3px solid $primary;
    color: $primary;
    padding: 12px 30px;
    &:hover {
      background: $primary;
      color: $white;
    }
  }
  .link-link {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    color: $primary;
    text-decoration: underline;
    &:hover {
      text-decoration: none;

    }
  }
  .slog {
    font-style: italic;
    margin-top: 40px;
  }
  .color-1 {
    color: #fff;
  }
  .color-2 {
    color: $secondary-1;
  }
  @media (max-width: $screen-xl-min - 1) {
    .title-2 {
      font-size: 36px;
      margin-bottom: 25px;
    }
    .list-content {
      padding-left: 15px;
      padding-bottom: 15px;
    }
  }
  @media (max-width: $screen-lg-min - 1) {
    .list-content {
      padding-left:50px;
      padding-bottom:50px;
    }
  }
  @media (max-width: $screen-md-min - 1) {
    .list-content {
      padding-left:30px;
      padding-bottom:30px;
    }
  }


  @media (max-width: $screen-sm-min - 1) {
    li {
      width: 100%;
    }
    .list-content {
      padding: 20px;
    }
    .title-2 {
      margin-bottom: 15px;
    }
    .title-1 {
      margin-bottom: 10px;
    }
    .link-button {
      padding: 4px 10px;
      border-width: 1px;
      font-weight: normal;
      font-size: 11px;
      letter-spacing: 0;
    }
    .slog {
      margin-top: 10px;
    }
  }
  @media (max-width: $screen-xs-min - 1) {
    .list-content {
      padding: 30px;
    }
    .title-1 {
      font-size: 14px;
    }
    .title-2 {
      font-size: 40px;
    }
    .slog {
      margin-top: 3px;
    }

  }
}

.list-2 {
  margin-bottom: 20px;
  @include make-flex;
  @include flex-wrap(wrap);
  li {
    position: relative;
    width: 100%;
    @media(min-width:$screen-md-min) {
      width: 33.333%;
    }
  }
  .list-content {
    position: absolute;
    padding: 50px;
    &.style_1 {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform:  translate(-50%, -50%);
      width: 100%;
      padding: 15px;
      text-align: center;
      line-height: 1;

      .title-1 {
        font-family: $extra-font-family;
        font-size: 53px;
        color: $primary;
        margin-bottom: 10px;
      }
      .title-2 {
        font-family: $extra-font-family;
        font-size: 53px;
        color: $white;
        font-weight: bold;
        margin-bottom: 20px;
      }
      .title-3 {
        font-family: $extra-font-family;
        font-size:24px;
        font-style: italic;
        margin-bottom: 30px;

      }
      .link-link {
        color: $primary;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: underline;
        letter-spacing: 1px;
        &:hover {
          color: $white;
        }
      }

      @media (max-width: $screen-lg-min - 1) {
        .title-1 {
          font-size: 23px;
          margin-bottom: 8px;
        }
        .title-2 {
          font-size: 23px;
          margin-bottom: 8px;
        }
        .title-3 {
          font-size:14px;
        }
      }
      @media (max-width: $screen-md-min - 1) and (min-width:$screen-xs-min) {
        .title-1 {
          font-size: 53px;
        }
        .title-2 {
          font-size: 36px;
        }
        .title-3 {
          font-size:21px;
        }
      }

    }
    &.style_2 {
      left: 0;
      top:0;
      padding: 50px;
      line-height: 1;
      height: 100%;
      .slog {
        font-size: 16px;
        font-style: italic;
        margin-bottom: 15px;
      }
      .title-1 {
        font-family: $extra-font-family;
        font-size: 48px;
        color: $white;
        margin-bottom: 10px;
        font-weight: bold;
        text-transform: uppercase;
      }
      .title-2 {
        font-family: $extra-font-family;
        font-size: 58px;
        color: $white;
        font-style: italic;
        margin-bottom: 25px;
        text-indent: 80px;

      }
      .title-3 {
        font-family: $extra-font-family;
        font-size:31px;
        color: $primary;
        margin-bottom: 10px;
        text-transform: uppercase;
        font-weight: bold;
      }
      .title-4 {
        font-family: $extra-font-family;
        font-size:17px;
        text-transform: uppercase;
        color: $white;
      }
      .link-button {
        color: $white;
        font-weight: bold;
        text-transform: uppercase;
        border: 3px solid $primary;
        padding: 12px 25px;
        display: inline-block;
        position: absolute;
        bottom: 50px;
        &:hover {
          background: $primary;
        }
      }

      @media (max-width: $screen-lg-min - 1) {
        padding: 25px;
        .slog {
          font-size: 13px;
          margin-bottom: 5px;
        }
        .title-1 {
          font-size: 24px;
          margin-bottom: 5px;
        }
        .title-2 {
          font-size: 21px;
          text-indent: 20px;
          margin-bottom: 12px;
        }
        .title-3 {
          font-size:13px;
        }
        .title-4 {
          font-size:12px;
        }
        .link-button {
          font-size: 12px;
          padding: 6px 18px;
          border-width: 1px;
          bottom: 30px;
        }
      }
      @media (max-width: $screen-xl-min - 1) and (min-width:$screen-lg-min) {
        padding: 25px;
        .title-2 {
          font-size: 50px;
          text-indent: 10px;
        }
      }
      @media (max-width: $screen-md-min - 1) and (min-width:$screen-sm-min) {
        padding-top: 15%;
        padding-left: 15%;
      }

      @media (max-width: $screen-md-min - 1) and (min-width:$screen-xs-min) {
        .slog {
          font-size: 23px;
        }
        .title-1 {
          font-size: 48px;
        }
        .title-2 {
          font-size: 32px;
          text-indent: 20px;
        }
        .title-3 {
          font-size:21px;
        }
        .title-4 {
          font-size:14px;
        }
        .link-button {
          font-size: 14px;
          padding: 12px 25px;
        }
      }

    }
    &.style_3 {
      left: 0;
      bottom: 0;
      width: 100%;
      text-align: center;
      line-height: 1;

      .slog {
        font-family: $extra-font-family;
        font-size: 18px;
        color: $primary;
        text-transform: uppercase;
        margin-bottom: 10px;
      }
      .title-1 {
        font-size:58px;
        color: $secondary-1;
        margin-bottom: 10px;
        font-weight: bold;
      }
      .title-2 {
        font-family: $extra-font-family;
        font-size: 28px;
        color: $primary;
        margin-bottom: 25px;
        font-style: italic;
      }
      .link-button {
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: underline;

      }

      @media (max-width: $screen-xl-min - 1) {
        padding: 15px;
        .slog {
          font-size: 16px;
          margin-bottom: 8px;
        }
        .title-1 {
          font-size:38px;
          margin-bottom: 8px;

        }
        .title-2 {
          font-size: 18px;
          margin-bottom: 15px;
        }
      }

      @media (max-width: $screen-lg-min - 1) {
        .slog {
          font-size: 12px;
        }
        .title-1 {
          font-size:21px;
        }
        .title-2 {
          font-size: 14px;
        }
        .link-button {
          font-size: 12px;
        }
      }
      @media (max-width: $screen-md-min - 1) and (min-width:$screen-xs-min) {
        .slog {
          font-size: 18px;
        }
        .title-1 {
          font-size:46px;
        }
        .title-2 {
          font-size: 28px;
        }
      }


    }
  }
  img {
    width: 100%;
  }

}

.form.contact,
.search.advanced,
.send.friend {
  max-width: 580px;
  margin: 0 auto;
}
.form.contact,
.form-address-edit,
.form-edit-account,
.search.advanced,
.send.friend,
.review-field-form-custom,
.form-login {
  .required {
    .control:before {
      content: "*";
      position: absolute;
      top:15px;
      left: 7px;
      color: $primary;
    }
  }
}
.opc {
  .required {
    .control:before {
      display: none;
    }
  }
}


.send.friend {
  .fieldset {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}


.form-newsletter-manage {
  .field .checkbox {
    margin-top: 9px;
  }
}
  //
//  Footer
//  ---------------------------------------------

.footer {
  text-align: center;
  &.content {
    padding-top: 40px;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      left: 15px;
      right: 15px;
      top:0;
      border-top:3px solid $theme-line-1;
      @media (min-width: $screen-xl-min) {
        left: 30px;
        right: 30px;
      }
    }
  }

  a {
    color: $primary;
    &:hover {
      color: $secondary-1
    }
  }
  ul {
    margin-bottom: 14px;
    li {
      display: inline-block;
      margin: 0 10px;

    }
    @media (max-width: $screen-sm-min) {
      margin-bottom: 0;
      li {
        padding-bottom: 15px;
      }
    }

  }
  .footer-col-content {
    ul {
      display: inline-block;

    }
  }
  .list-icon {
    padding-top: 10px;
    a {
      font-size: 16px;
      color: $secondary-2;
      &:hover {
        color: $secondary-1;

      }
    }
  }
  .footer-logo {
    display: inline-block;
    margin-bottom: 32px;
  }
  .copyright {
    font-size: 14px;
    font-style: italic;
    border-top: 1px solid $theme-line-1;
    padding: 20px 0;
    width: 100%;
    display: block;
    margin-top: 40px;
  }
}
.copyright-container {
}

//
//  Helpers
//  ---------------------------------------------
.no-display {
  display: none;
}

@import "_pages.scss";