<div id="<?php echo $block->getNameInLayout()?>">
<?php $i = 0; $size = sizeof($this->getFields());foreach($this->getFields() as $fieldId => $fieldData):?>
    <?php echo $block->getChildHtml($fieldId);?>
    <?php if(($i % 3) == 2 || $i == ($size-1)):?>
        <div class="pb-feature-break-row"></div>
    <?php endif;?>
    <?php $i ++?>
<?php endforeach?>
</div>
<?php if($this->getData('color') || $this->getData('colorHover')):?>
<style type="text/css">
    <?php if($this->getData('color')):?>
    .pb-section-feature3 #<?php echo $block->getNameInLayout()?> .pb-feature-box-icon{color: <?php echo $this->getData('color');?>}
    .pb-section-feature3 #<?php echo $block->getNameInLayout()?> .pb-feature-title{color: <?php echo $this->getData('titleColor');?>}
    <?php endif;?>
    <?php if($this->getData('colorHover')):?>
    .pb-section-feature3 #<?php echo $block->getNameInLayout()?> .pb-feature-container:hover .pb-feature-box-icon{color: <?php echo $this->getData('colorHover');?>}
    <?php endif;?>
</style>
<?php endif;?>