@media screen and (min-width: 769px) {
    
    .themecafe-landing-popup-wrapper .popup-subscribe .block.newsletter{
        width:350px;
    }
    .modal-popup._inner-scroll .themecafe-landing-popup-wrapper.modal-inner-wrap {
        max-height: 100%;
        margin-top: 0 !important;
        height: 100vh;
        max-width: 100% !important;
    }

    .themecafe-landing-popup {
        max-height: 100% !important;
        overflow: hidden;
        height: 96vh;
    }
    .themecafe-landing-popup img {
        height: 100%;
        width: 100%;
    }

    .themecafe-landing-popup-wrapper-btn-wrap .link-slider {
        padding: 15px 30px;
    }

}

.themecafe-landing-popup-aside .modal-slide._inner-scroll .modal-header {
    display:block !important;
}

.themecafe-landing-popup-wrapper-btn-wrap {
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0px;
}

.themecafe-landing-popup-wrapper-btn-wrap .link-slider {
    padding: 5px 10px;
}



.modal-slide .themecafe-landing-popup-wrapper .action-close {
    padding: 9px;
    position: absolute;
    display: block !important;
    height: 31px;
    top: 4px;
    right: 6px;
    width: 30px;
    background-color: #000;
    border-radius: 50%;
    line-height: 30px;
    padding-top: 0;
    color: #000;
    text-align: center;
}

.modal-slide .themecafe-landing-popup-wrapper .action-close:before {
    color: #fff;
}
.modal-slide .themecafe-landing-popup-wrapper .action-close:hover {
    color:#111111;
}


.modal-popup._inner-scroll .themecafe-landing-popup-wrapper.modal-inner-wrap {
    width: 100% !important;
}
