<div class="payment-option _collapsible opc-payment-additional discount-code"
     data-bind="mageInit: {'collapsible':{'openedState': '_active'}}">
    <div class="payment-option-title field choice" data-role="title">
        <span class="action action-toggle" id="block-discount-heading" role="heading" aria-level="2">
        <!-- ko i18n: 'Custom Form'--><!-- /ko -->
        </span>
    </div>
    <script>
        alert("fffffffffffffffffffffffff");
        </script>
    <div class="payment-option-content" data-role="content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <form class="form form-discount" id="my-form">
            <div class="payment-option-inner">
                <div class="field">
                    <div class="control">
                            <input class="input-text"
                               type="text"
                               id="my_input"
                               name="my_input"
                               data-bind="attr:{placeholder: $t('Enter Account Number')}"
                               data-validate="{required:true,'validate-number-range':true,'validate-number':true}"
                                />
                    </div>
                </div>
            </div>
            <div class="actions-toolbar">
                <div class="primary">
                    <!-- /ko ifnot: isApplied() -->
                        <button class="action action-apply" type="submit" data-bind="'value': $t('Apply'), click: apply">
                            <span><!-- ko i18n: 'Apply Discount'--><!-- /ko --></span>
                        </button>
                    <!-- /ko -->
                </div>
                <div class="primary">
                    <!-- ko if: isApplied() -->
                        <button class="action action-cancel" type="submit" data-bind="'value': $t('Cancel'), click: cancel">
                            <span><!-- ko i18n: 'Cancel'--><!-- /ko --></span>
                        </button>
                    <!-- /ko -->
                </div>
            </div>
             
        </form>
    </div>
</div>