<section class="pdf-section pdf-section-header pdf-section-header2" data-bind="attr: {id: sectionId}">
	<div class="pdf-header-logo">
		<!-- ko foreach: getRegion('logo') -->
			<!-- ko template: getTemplate() --><!-- /ko -->
		<!--/ko-->
	</div>
	<!-- ko foreach: getRegion('header_text') -->
		<!-- ko template: getTemplate() --><!-- /ko -->
	<!--/ko-->
	<div class="pdf-clearer"></div>
</section>