<section class="pdf-section pdf-section-other-3cols" data-bind="attr: {id: sectionId}">
	<div class="pdf-text-col pdf-text-col1">
		<!-- ko foreach: getRegion('col1_text') -->
			<!-- ko template: getTemplate() --><!-- /ko -->
		<!--/ko-->
	</div>
	<div class="pdf-text-col pdf-text-col2">
		<!-- ko foreach: getRegion('col2_text') -->
			<!-- ko template: getTemplate() --><!-- /ko -->
		<!--/ko-->
	</div>
	<div class="pdf-text-col pdf-text-col3">
		<!-- ko foreach: getRegion('col3_text') -->
			<!-- ko template: getTemplate() --><!-- /ko -->
		<!--/ko-->
	</div>
	<div class="pdf-clearer"></div>
</section>