<section class="pdf-section pdf-section-items1" data-bind="attr: {id: sectionId}">
	<!-- ko foreach: getRegion('items_list') -->
		<!-- ko template: getTemplate() --><!-- /ko -->
	<!--/ko-->
	<div class="pdf-clearer"></div>
</section>