<section class="pdf-section pdf-section-other-1col" data-bind="attr: {id: sectionId}">
	<!-- ko foreach: getRegion('text') -->
		<!-- ko template: getTemplate() --><!-- /ko -->
	<!--/ko-->
	<div class="pdf-clearer"></div>
</section>