<div class="vpb-pagebuilder-container" visible="enablePageBuilder">
	<div class="vpb-container">
		<!-- ko if: !hasSection() -->
		<section class="vpb-section">
			<div class="pb-section vpb-section-empty">
				<div class="vpb-section-content">
					<button type="button" class="primary vpb-btn vpb-btn-addsection" data-bind="click: chooseSectionTemplate"><span><span data-bind="text: $t('Choose a Template')"></span></span></button>
				</div>
			</div>
		</section>
		<!-- /ko -->
		<!-- ko if: hasSection() -->
			<!-- ko foreach: {data: getSections(), as: 'section'} -->
			<section class="vpb-section">
				<div class="vpb-section-content pb-section-container" data-bind="css: $parent.sectionEditVisible()===true?'editing':''">
					<!-- ko template: getTemplate() --><!-- /ko -->
					<div class="vpb-section-toolbar">
						<a href="#" data-bind="click: $parent.editSection.bind($parent, section)"><i class="fa fa-edit"></i></a>
						<a href="#" data-bind="click: $parent.deleteSection.bind($parent, section)"><i class="fa fa-trash-o"></i></a>
					</div>
					<div class="vpb-section-add vpb-section-add-before"><a href="#" data-bind="text: $t('+'), click: $parent.chooseSectionTemplateBefore.bind($parent, section)"></a></div>
					<div class="vpb-section-add vpb-section-add-after"><a href="#" data-bind="text: $t('+'), click: $parent.chooseSectionTemplateAfter.bind($parent, section)"></a></div>
					
					<div class="vpb-section-move vpb-section-move-up"><a href="#" data-bind="click: $parent.moveSectionUp.bind($parent, section)"><i class="fa fa-chevron-up"></i></a></div>
					<div class="vpb-section-move vpb-section-move-down"><a href="#" data-bind="click: $parent.moveSectionDown.bind($parent, section)"><i class="fa fa-chevron-down"></i></a></div>
				</div>
			</section>
			<!-- /ko -->
		<!-- /ko -->
	</div>

	
	<!-- ko template: selectSectionTmpl --><!-- /ko -->
	<!-- ko template: editSectionTmpl --><!-- /ko -->
	
	<!-- ko foreach: getRegion('media_manager') -->
		<!-- ko template: getTemplate() --><!-- /ko -->
	<!--/ko-->	
</div>
