<?php if($this->helper('Custom\City\Helper\Data')->getConfig('city/general/enabled')){?>
    <?php $url = $this->getUrl('city/index/cities');
	$zip_url = $this->getUrl('city/index/zips');
    $city_link = '';
    $city_title = 'City not in list';
    if($this->helper('Custom\City\Helper\Data')->getConfig('city/general/citynotinlist')){
        $city_link = 'enabled';
        if($this->helper('Custom\City\Helper\Data')->getConfig('city/general/citynotinlist_title')!=""){
            $city_title = $this->helper('Custom\City\Helper\Data')->getConfig('city/general/citynotinlist_title');
        }
    }
	$zip_link = '';
    $zip_title = 'Zip not in list';
    if($this->helper('Custom\City\Helper\Data')->getConfig('city/general/zipnotinlist')){
        $zip_link = 'enabled';
        if($this->helper('Custom\City\Helper\Data')->getConfig('city/general/zipnotinlist_title')!=""){
            $zip_title = $this->helper('Custom\City\Helper\Data')->getConfig('city/general/zipnotinlist_title');
        }
    }
    ?>
    <?php
    $curl = $this->getUrl('*/*/*', ['_current' => true, '_use_rewrite' => true]);
    if(strpos($curl,'checkout')!==false || strpos($curl,'onepage')!==false){
        $page = 'checkout';
    }else{
        $page = 'edit';
    }?>
    <script type="text/javascript">
        var data_city_link="<?php echo $city_link;?>";
        var data_city_title="<?php echo $city_title;?>";
		var data_zip_link="<?php echo $zip_link;?>";
        var data_zip_title="<?php echo $zip_title;?>";
        var data_url="<?php echo $url;?>";
		 var data_zip_url="<?php echo $zip_url;?>";
        var loading_url = "<?php echo $this->getViewFileUrl('Custom_City::images/loader-1.gif');?>";
        <?php if($page=='checkout'){?>
        require(["jquery","domReady!"], function($){
            <?php if(strpos($curl,'cart')!==false){?>
            if(jQuery('#shipping-zip-form').length==0){
                setTimeout(function(){ shippingmainCityCart();}, 2000);
            }
            <?php }else{?>
            setTimeout(function(){ shippingmainCityCall();}, 3000);
            if(jQuery("input[type='submit']").length==0){
                setTimeout(function(){ checkSubmitButtonLoad();}, 1000);
            }
            <?php }?>
        });
        function checkSubmitButtonLoad(){
            if(jQuery('.button').length==0){
                setTimeout(function(){ checkSubmitButtonLoad();}, 1000);
            }
            jQuery('.button').click(function(){
               bilingmainCityCall();	
            });
        }
        <?php }else{?>
        require(["jquery","domReady!"], function($){
            setTimeout(function(){ addressPageCall();}, 2000);
        });
        <?php }?>
    </script>

<?php }?>

<!-- <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAy2GGPoYwUcEmwD7wPCeCY9-ieFeLmq8M">
    //src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJ3AyJaoAZnNi1IV3-0AmjgaPJgtiXOGA">
    //src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGGWpDc5Tfmqc_HrWZIMdKbGkS-colajo">
    </script> -->

   
