#page-preloader {
  display: flex;
  justify-content: center;
  align-items: center; }
  @media print {
    #page-preloader {
      display: none; } }
  #page-preloader .cssload-bell {
    width: 97px;
    height: 99px;
    border-radius: 100%; }
  #page-preloader .cssload-circle {
    width: 100%;
    height: 100%;
    position: absolute; }
  #page-preloader .cssload-circle .cssload-inner {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 5px solid #c12a2d;
    border-right: none;
    border-top: none;
    background-clip: padding;
    box-shadow: inset 0px 0px 10px #f9d3d3; }
  #page-preloader .cssload-circle:nth-of-type(0) {
    transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg); }
  #page-preloader .cssload-circle:nth-of-type(0) .cssload-inner {
    animation: cssload-spin 1.1s infinite linear;
    -o-animation: cssload-spin 1.1s infinite linear;
    -ms-animation: cssload-spin 1.1s infinite linear;
    -webkit-animation: cssload-spin 1.1s infinite linear;
    -moz-animation: cssload-spin 1.1s infinite linear; }
  #page-preloader .cssload-circle:nth-of-type(1) {
    transform: rotate(70deg);
    -o-transform: rotate(70deg);
    -ms-transform: rotate(70deg);
    -webkit-transform: rotate(70deg);
    -moz-transform: rotate(70deg); }
  #page-preloader .cssload-circle:nth-of-type(1) .cssload-inner {
    animation: cssload-spin 1.1s infinite linear;
    -o-animation: cssload-spin 1.1s infinite linear;
    -ms-animation: cssload-spin 1.1s infinite linear;
    -webkit-animation: cssload-spin 1.1s infinite linear;
    -moz-animation: cssload-spin 1.1s infinite linear; }
  #page-preloader .cssload-circle:nth-of-type(2) {
    transform: rotate(140deg);
    -o-transform: rotate(140deg);
    -ms-transform: rotate(140deg);
    -webkit-transform: rotate(140deg);
    -moz-transform: rotate(140deg); }
  #page-preloader .cssload-circle:nth-of-type(2) .cssload-inner {
    animation: cssload-spin 1.1s infinite linear;
    -o-animation: cssload-spin 1.1s infinite linear;
    -ms-animation: cssload-spin 1.1s infinite linear;
    -webkit-animation: cssload-spin 1.1s infinite linear;
    -moz-animation: cssload-spin 1.1s infinite linear; }
  #page-preloader .cssload-bell {
    animation: cssload-spin 2.75s infinite linear;
    -o-animation: cssload-spin 2.75s infinite linear;
    -ms-animation: cssload-spin 2.75s infinite linear;
    -webkit-animation: cssload-spin 2.75s infinite linear;
    -moz-animation: cssload-spin 2.75s infinite linear; }
@keyframes cssload-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
@-o-keyframes cssload-spin {
  from {
    -o-transform: rotate(0deg); }
  to {
    -o-transform: rotate(360deg); } }
@-ms-keyframes cssload-spin {
  from {
    -ms-transform: rotate(0deg); }
  to {
    -ms-transform: rotate(360deg); } }
@-webkit-keyframes cssload-spin {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }
@-moz-keyframes cssload-spin {
  from {
    -moz-transform: rotate(0deg); }
  to {
    -moz-transform: rotate(360deg); } }

/*# sourceMappingURL=preload-styles.css.map */
