<div class="vpb-section-edit animated" data-bind="css: sectionEditVisible()==='0'?'vpb-hide':(sectionEditVisible()?'slideInRight':'slideOutRight'), style:{height: (windowHeight()+30)+'px'}">
	<a class="vpb-section-edit-close" href="#" data-bind="click: closeSectionEdit"><i class="fa fa-close"></i></a>
	<h3 class="vpb-section-edit-title" data-bind="text: $t('Edit Section')"></h3>
	
	<!-- Start Edit Section Form -->
		<!-- ko if: currentEdittingSection() -->
		<div class="vpb-section-element-list" data-bind="foreach: {data: getSection(currentEdittingSection().index).elems(), as: 'element'}">
			<div class="vpb-edit-element" data-bind="event: { mouseover: mouseOverElement, mouseout: mouseOutElement }">
				<h4 data-bind="text: element.label"></h4>
				<div class="vpb-edit-element-active">
				    <input class="admin__actions-switch-checkbox" data-bind="attr: {id: element.getFieldId()+'_checkbox'}, checked: isActive" type="checkbox" />
				    <label class="admin__actions-switch-label" data-bind="attr: {for: element.getFieldId()+'_checkbox'}">
				        <span class="admin__actions-switch-text" data-bind="attr: {'data-text-on': $t('Show'), 'data-text-off': $t('Hide')}"></span>
				    </label>
			    </div>
			    <div class="vpb-edit-element-content" data-bind="visible: isActive">
					<!-- ko template: getEditTemplate() --><!-- /ko -->
				</div>
			</div>
		</div>
		<!-- /ko -->
	<!-- End Edit Section Form -->
</div>