<div class="vpb-section-modal animated" data-bind="css: sectionModalVisible()==='0'?'vpb-hide':(sectionModalVisible()?'slideInLeft':'slideOutLeft'), style:{height: windowHeight()+'px'}">
	<a class="vpb-section-modal-close" href="#" data-bind="click: closeSectionModal"><i class="fa fa-close"></i></a>
	<div class="vpb-section-type-list">
		<h3 data-bind="text: $t('Add Section')"></h3>
		<ul data-bind="foreach: {data: getSectionType(), as: 'type'}">
			<li data-bind="css: type.id == $parent.currentSectionTypeId()?'selected':''"><a href="#" data-bind="text: type.label, click: $parent.sectionTypeClick.bind($parent, type)"></a></li>
		</ul>
	</div>
	<div class="vpb-section-preview-container">
		<!-- Start Sections List -->
		<div class="vpb-section-preview-list" data-bind="foreach: {data: getPreviewSections(), as: 'section'}, style:{height: windowHeight()+'px'}">
			<!-- Start Section Preview -->
			<div class="animated vpb-section-preview" data-bind="click: $parent.sectionPreviewClick.bind($parent, section)">
				<div class="vpb-section-preview-content">
					<div class="vpb-section-preview-wrap" data-bind="style: {height: section.preview_height?section.preview_height:'200px'}">
						<div class="vpb-section-preset-preview">
							<!-- ko template: getTemplate() --><!-- /ko -->
						</div>
					</div>
				</div>
				<div class="vpb-section-preview-overlay"><div class="vpb-section-preview-overlay-title" data-bind="html: $t('Choose this template')"></div></div>
			</div>
			<!-- End Section Preview -->
		</div>
		<!-- End Sections List -->
	</div>
</div>